@charset "UTF-8";




// Our variables
$base-font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 22px;

$spacing-unit:     30px;

$text-color:       #222;
$invert-text-color:#fff;
$background-color: #f7f7f7;
$brand-color:      #BC0009;


$btn-default-bg-color:      #222;
$btn-default-bg-color-light:  lighten($btn-default-bg-color, 40%);
$btn-default-bg-color-dark:   darken($btn-default-bg-color, 25%);

$btn-primary-bg-color:      #ED0000;
$btn-primary-bg-color-light:  lighten($btn-primary-bg-color, 40%);
$btn-primary-bg-color-dark:   darken($btn-primary-bg-color, 25%);

$btn-invert-bg-color:       #e3dee5;
$btn-invert-bg-color-light:  lighten($btn-invert-bg-color, 40%);
$btn-invert-bg-color-dark:   darken($btn-invert-bg-color, 25%);

$primary-border-color: #e5e5e5;
$primary-border-color-lighten: lighten($primary-border-color, 40%);
$primary-border-color-dark: darken($primary-border-color, 25%);


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



@import
'../_sass/_core.scss'

;