---
layout: l_default
title: "Communities"
bodyClass: "communities"
---
<!-- Section * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="page type-page" role="main">
<!--Content-->
<div class="container-fluid" style="background-image: url(img/sample/bkgrd_shattered.png);">
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <h1 class="text-primary" style="font-weight: 100 !important; font-size: 48px !important;">Hypertension / Nephrology</h1>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid latest-news-events">
    <div class="row">
        <div class="container">


            <div class="col-sm-4 news-feature">
                <h3><span class="margin-right-10 text-uppercase">Latest Science News</span></h3>
                {% for post in site.posts limit:3 %}
                <div class="media">
                    <div class="media-body">
                        <p class="text-uppercase tag tag-{{ post.date }}">
                            {{ post.date  | date: '%B %d, %Y'}}
                        </p>
                        <a href="{{ post.url | prepend: site.baseurl }}"><h5>{{ post.title }}</h5></a>
                        <!--<p>Posted {{ post.date | date: "%b %-d, %Y" }}</p>-->

                        {{ post.excerpt limit: 50 }}
                    </div>
                    <!--<a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-sm btn-default">Continue Reading <i class="fa fa-chevron-right"></i></a>-->
                </div>

                {% endfor %}
            </div>
                <div class="col-sm-4 1col-ad-space">
                    <h3><span class="text-uppercase margin-right-10"></span></h3>
                    <div>
                        <img class="img-responsive img-full img-border" src="img/sample/bannerV_hyper.png" alt="title" height="140"/>
                    </div>
                </div>


            <div class="col-sm-4 feature-meeting-lg">
                <h3><span class="text-uppercase margin-right-10">Upcoming Meeting</span></h3>
                    <!--Big Thumb-->
                    <div class="">
                        <img class="img-responsive img-full img-border" src="{{site.baseurl}}/img/sample/c_hyper.png" alt="title" height="120"/>
                        <!--<div class="tag tag-{{ post.categories }}"><span class="indicator"></span>Cardiology</div>-->
                        <h5>Hypertension Scientific Sessions<div class="small"><strong>Washington D.C.</strong> // Sept 16-19, 2015</div></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet corporis deleniti eius eligendi facere fuga, in ipsa iste nam nisi, qui rerum tempore! Deleniti deserunt facilis saepe vitae! Fugiat, provident.</p>
                        <button type="button" class="btn btn-primary">More Info</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Ad Space START -->
<div class="container-fluid community-promo">
    <div class="row">
        <div class="container">
            <img class="img-full img-responsive" src="img/sample/banner_hyper.jpg">
        </div>
    </div>
</div>
<!-- Ad Space END -->

<!-- Journal START -->
<div class="container-fluid community-journals">
    <div class="row">
        <div class="container">
            <div class="col-md-6">
                <h4><span class="text-uppercase margin-right-10">Journals</span></h4>
                {% for post in site.categories.journals limit:3 %}

                <div class="media">
                    <div class="media-left">
                        <a href="{{ post.url | prepend: site.baseurl }}" class="media-object">
                            <img src="{{ post.banner | prepend: site.baseurl }}" alt="" width="80" />
                        </a>
                    </div>
                    <div class="media-body">
                        <!--<a href="{{ post.categories }}" class="text-uppercase tag tag-{{ post.categories }}">-->
                        <!--<span class="indicator"></span>{{ post.categories }}-->
                        <!--</a>-->
                        <a href="{{ post.url | prepend: site.baseurl }}"><h5>{{ post.title }}</h5></a>
                        <!--<p>Posted {{ post.date | date: "%b %-d, %Y" }}</p>-->

                        <p class="media-excerpt">{{ post.content }}</p>
                    </div>

                    <!--<a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-sm btn-default">Continue Reading <i class="fa fa-chevron-right"></i></a>-->


                </div>

                {% endfor %}
            </div>
            <div class="col-md-6">
                <h4><span class="text-uppercase margin-right-10">Clinical Updates</span></h4>
                <ul class="list-unstyled">
                    <li class="padding-10 bg-color-lightgrey "><a href="#">Trends in Incidence, Severity, and Outcome of Hospitalized Myocardial Infarction</a><br/>
                        Jan 28, 2011 | Source (Learning Library)</li>
                    <li class="padding-10"><a href="">Routine versus Selective Strategies in Patients with Non-ST-Segment Elevation Acute Coronary Syndrome: How Do the Long-Term Outcomes Compare?</a><br/>
                        Jan 18, 2011 | Source (Learning Library)</li>
                    <li class="padding-10 bg-color-lightgrey ">
                        <a href="">Lack of Association between Migraine Headache and Patent Foramen Ovale: Results of a Case-Control Study</a><br/>
                        Sep 13, 2010 | Source (Learning Library)
                    </li>
                </ul>
                <button type="button" class="btn btn-primary">View All</button>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid bg-color-grey padding-10 community-promo">
    <div class="row">
        <div class="container">
            <div class="col-sm-2"><i class="fa fa-newspaper-o img-responsive" style="font-size:125px;padding-top:25px;"></i></div>
            <div class="col-md-10">
                <h3>Sign up for eTOC and select Hypertension to have the Clinical Implications section emailed directly to you each month when the new issue posts.</h3>
                <button type="button" class="btn btn-primary promo">Sign Up</button>
                <div class="spacer"></div>
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>

<div class="container-fluid community-pon-ce">
    <div class="row">
        <div class="container">
            <div class="col-sm-6">
                <h3><span class="text-uppercase margin-right-10">Professional Online Network</span></h3>
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" alt="avatar1" src="img/sample/pon_av1.jpg" data-holder-rendered="true" style="width: 64px; height: 64px;">
                            </a>
                        </div>
                        <div class="media-body">
                                <h5 class="media-heading" id="media-heading"><a href="#">Purushotham Kotha</a> posted <a href=#">Re: why cholesterol said no longer a threat to health?</a><a class="anchorjs-link" href="#media-heading"><span class="anchorjs-icon"></span></a></h4>
                            <small>in <a href="#">Introduce Yourself</a> on	Jun 16 at 11:03am CDT</small>
                            <p>please lookup the new guidelines by AHA/ACC,somewhat confusing! Best regards,Purushotham Kotha. M.D., FACC
                                email: pkotha@heartsmart.info
                                website: www.heartsmartinfo.comheartsmart apps: http://www.heartsmartinfo.com...</p>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" alt="avatar2" src="img/sample/pon_av2.png" data-holder-rendered="true" style="width: 64px; height: 64px;">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading" id="media-heading"><a href="#">Gayle Steiner</a> posted <a href=#">Re: why cholesterol said no longer a threat to health?</a><a class="anchorjs-link" href="#media-heading"><span class="anchorjs-icon"></span></a></h4>
                            <small>in <a href="#">Introduce Yourself</a> on Jun 16 at 9:17am CDT</small>
                            <p>Is there an AHA article or scientific publication on the topic of reversing the stance on cholesterol restriction?</p>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" alt="avatar3" src="img/sample/pon_av3.jpg" data-holder-rendered="true" style="width: 64px; height: 64px;">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading" id="media-heading"><a href="#">Stacy AHA Science</a> posted <a href=#">American Heart Association - Vice President for Science and Medicine</a><a class="anchorjs-link" href="#media-heading"><span class="anchorjs-icon"></span></a></h4>
                            <small>in <a href="#">Work at AHA</a> on	Jun 15 at 12:41pm CDT</small>
                            <p>Vice President for Science and Medicine The American Heart Association (AHA) is seeking a dynamic and effective physician to lead its Office of Science and Medicine (OSM). This Department, with a staff of 8 science and medicine prof...</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h3><span class="text-uppercase margin-right-10">Continuing Education</span></h3>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>
                            <p><strong><a href="https://learn.heart.org/Activity/2695030/Detail.aspx">Hypertension: Guidelines into Practice</a></strong></p>
                            <p>The AHA is offering a high blood pressure continuing education course targeted specifically for nurse practitioners and physician assistants. High blood pressure is a significant concern for a ...</p>
                            <img src="img/sample/ce_computer.jpg" alt="" class="pull-left"/>
                            <ul class="list-unstyled pull-right" style="padding-right:20px;">
                                <li>Credit(s):</li>
                                <li>1 Credit(s) ACCME > AMA PRA Category 1 Credit™</li>
                                <li>1 Contact Hour(s) ANCC > ANCC</li>
                                <li>1 Credit(s) ACCME > Attendance Credit</li>
                                <li>AHA > AHA</li>
                            </ul>
                        <td>
                            <button type="submit" class="btn btn-primary btn-sm">Register</button>
                            <p class="align-center"><strong>$9.99</strong><br>Activity Price</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong><a href="https://learn.heart.org/Activity/3016147/Detail.aspx">Spotlight Series: Racial & Ethnic Disparities in Treatment of Hypertension (TGA Webinar)</a></strong></p>
                            <p>This webinar focuses on Case based, live education addressing racial and ethnic disparities in hypertension. African Americans are significantly more likely than whites to be diagnosed with hyp ...</p>
                            <img src="img/sample/ce_computer.jpg" alt="" class="pull-left"/>
                            <ul class="list-unstyled pull-right">
                                <li>Credit(s):</li>
                                <li>0.75 Credit(s) ACCME > AMA PRA Category 1 Credit™</li>
                                <li>0.75 Contact Hour(s) ANCC > ANCC</li>
                                <li>0.75 Contact Hour(s) ACPE > ACPE</li>
                                <li> 0.75 Credit(s) ACCME > Attendance Credit</li>
                                <li>AHA > AHA</li>
                            </ul>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary btn-sm">Register</button>
                            <p class="align-center"><strong>FREE</strong><br>Activity Price</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong><a href="https://learn.heart.org/Activity/3366206/Detail.aspx">Northern New England Stroke Boot Camp and Best Practices 2015</a></strong></p>
                            <p>This one-day program is a professional education event to advance the existing stroke systems of care in northern New England, enhance analytic use of Get With The Guidelines - Stroke data, sha ...
                            </p>
                            <img src="img/sample/ce_brain.jpg" alt="" class="pull-left"/>
                            <ul class="list-unstyled pull-right">
                                <li>Credit(s):</li>
                                <li>0.75 Credit(s) ACCME > AMA PRA Category 1 Credit™</li>
                                <li>0.75 Contact Hour(s) ANCC > ANCC</li>
                                <li> 0.75 Credit(s) ACCME > Attendance Credit</li>
                                <li>AHA > AHA</li>
                            </ul>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary btn-sm">Register</button>
                            <p class="align-center"><strong>FREE</strong><br>Activity Price</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="spacer"></div>


<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="col-sm-12">
                <h3 class="text-uppercase margin-right-10">Council on Hypertension - Message from the Chair</h3>
            </div>
            <div class="col-sm-2">
                <img class="img-responsive pull-right img-border" src="img/sample/bio_md.jpg" alt="title" height="120"/>
            </div>
            <div class="col-sm-10">
                <div>
                    <p class="lead">The mission of the Council on Hypertension is "to foster excellence in hypertension research and education" in order to achieve the American Heart Association’s goal “to build healthier lives, free of cardiovascular diseases and stroke".</p>
                    <p><strong>Christopher S. Wilcox</strong>, MD, Ph.D., FRCP (UK), FACP, FAHA<br>Chair, Council on Hypertension</p>
                    <a href="#" class="btn btn-sm btn-default">Read More from the Chariman <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<div class="spacer"></div>



<!-- End Section * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- End Content -->
</div><!-- //.col-md-12 -->
