---
layout: l_default
title: "Communities"
bodyClass: "communities"
---
<!-- Section * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="page type-page" role="main">
<!--Content-->
<div class="container-fluid latest-news-events">
    <div class="row">
        <div class="container">
            <div class="col-sm-8">
            <h3><span class="margin-right-10 text-uppercase">Latest Science News</span></h3>
            <div class="col-sm-6 news-feature" style="margin-bottom: 40px;">
                {% for post in site.posts limit:3 %}
                <div class="media">
                    <div class="media-body">
                        <p class="text-uppercase tag tag-{{ post.date }}">
                            {{ post.date  | date: '%B %d, %Y'}}
                        </p>
                        <a href="{{ post.url | prepend: site.baseurl }}"><h5>{{ post.title }}</h5></a>
                        <!--<p>Posted {{ post.date | date: "%b %-d, %Y" }}</p>-->

                        {{ post.excerpt limit: 50 }}
                    </div>
                    <!--<a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-sm btn-default">Continue Reading <i class="fa fa-chevron-right"></i></a>-->
                </div>

                {% endfor %}
            </div>
                <div class="col-sm-6 news-feature-list">
                    <div>
                        <img class="img-responsive img-full img-border" src="{{site.baseurl}}/img/sample/ad_600x400.png" alt="title" height="140"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 feature-meeting-lg">
                <h3><span class="text-uppercase margin-right-10">Upcoming Meeting</span></h3>
                    <!--Big Thumb-->
                    <div class="">
                        <img class="img-responsive img-full img-border" src="{{site.baseurl}}/img/sample/c_hyper.png" alt="title" height="120"/>
                        <!--<div class="tag tag-{{ post.categories }}"><span class="indicator"></span>Cardiology</div>-->
                        <h5>Hypertension Scientific Sessions<div class="small"><strong>Washington D.C.</strong> // Sept 16-19, 2015</div></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet corporis deleniti eius eligendi facere fuga, in ipsa iste nam nisi, qui rerum tempore! Deleniti deserunt facilis saepe vitae! Fugiat, provident.</p>
                        <button type="button" class="btn btn-primary">Register Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Ad Space START -->
<div class="container-fluid community-promo">
    <div class="row">
        <div class="container">
            <img class="img-full img-responsive" src="img/sample/ad_1400x200.png">
        </div>
    </div>
</div>
<!-- Ad Space END -->

<!-- Journal START -->
<div class="container-fluid community-journal">
    <div class="row">
        <div class="container">
            <h4><span class="text-uppercase margin-right-10">Journals</span></h4>
                <div class="col-md-6">
                    <h5 class="color-primary" style="margin-top: 0 !important;">May 2015</h5>

                    {% for post in site.categories.journals limit:3 %}

                    <div class="media">
                        <div class="media-left">
                            <a href="{{ post.url | prepend: site.baseurl }}" class="media-object">
                                <img src="{{ post.banner | prepend: site.baseurl }}" alt="" width="80" />
                            </a>
                        </div>
                        <div class="media-body">
                            <!--<a href="{{ post.categories }}" class="text-uppercase tag tag-{{ post.categories }}">-->
                            <!--<span class="indicator"></span>{{ post.categories }}-->
                            <!--</a>-->
                            <a href="{{ post.url | prepend: site.baseurl }}"><h5>{{ post.title }}</h5></a>
                            <!--<p>Posted {{ post.date | date: "%b %-d, %Y" }}</p>-->

                            <p class="media-excerpt">{{ post.content }}</p>
                        </div>

                        <!--<a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-sm btn-default">Continue Reading <i class="fa fa-chevron-right"></i></a>-->


                    </div>

                    {% endfor %}
            </div>
            <h4><span class="text-uppercase margin-right-10">Research Updates</span></h4>
              <div class="col-sm-6>
                    <div>
                        <div class="thumbnail">
                            <div class="caption">
                                <h5>Sequential Hybrid Procedure for Persistent Atrial Fibrillation</h5>
                                <p>
                                    Catheter ablation of persistent atrial fibrillation yields an unsatisfactorily high number of failures. The hybrid approach has recently emerged as a technique that overcomes the limitations of both surgical and catheter procedures alone.
                                </p>
                                <p><a href="#" class="btn btn-primary" role="button">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-color-grey padding-10 community-promo">
    <div class="row">
        <div class="container">
            <div class="col-sm-2"><i class="fa fa-newspaper-o" style="font-size:125px;padding-top:25px;"></i></div>
            <div class="col-md-10">
                <h3>Sign up for eTOC and select Hypertension to have the Clinical Implications section emailed directly to you each month when the new issue posts.</h3>
                <button type="button" class="btn btn-primary promo">Sign Up</button>
                <div class="spacer"></div>
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>

<div class="container-fluid community-pon-ce">
    <div class="row">
        <div class="container">
            <div class="col-sm-6">
                <h3><span class="text-uppercase margin-right-10">Professional Online Network</span></h3>
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" id="media-heading">Media heading<a class="anchorjs-link" href="#media-heading"><span class="anchorjs-icon"></span></a></h4>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                            <!-- Nested media object -->
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" id="nested-media-heading">Nested media heading<a class="anchorjs-link" href="#nested-media-heading"><span class="anchorjs-icon"></span></a></h4>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                    <!-- Nested media object -->
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading" id="nested-media-heading">Nested media heading<a class="anchorjs-link" href="#nested-media-heading"><span class="anchorjs-icon"></span></a></h4>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h3><span class="text-uppercase margin-right-10">Continuing Education</span></h3>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>
                            <p><strong>Condimentum a cras magnis urna id nec ullamcorper - Montes Adipiscing</strong></p>
                            <p>Ut scelerisque consectetur himenaeos at in viverra quisque parturient primis hac fames curabitur a feugiat vulputate eros consequat interdum turpis a. </p>
                            <ul class="list-unstyled">
                                <li>0.75 Credit(s) Quam potenti cubilia parturient fermentum nam</li>
                                <li>0.75 Credit(s) Habitant a placerat</li>
                                <li>0.75 Credit(s) Habitant a placerat</li>
                            </ul>
                        <td>
                            <button type="submit" class="btn btn-primary btn-sm">Register</button>
                            <p class="align-center"><strong>FREE</strong><br>Activity Price</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Suspendisse cursus etiam magna in ut suspendisse cursus - Porta Nunc</strong></p>
                            <p>Ut scelerisque consectetur himenaeos at in viverra quisque parturient primis hac fames curabitur a feugiat vulputate eros consequat interdum turpis a. </p>
                            <ul class="list-unstyled">
                                <li>0.75 Credit(s) Habitant a placerat</li>
                            </ul>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary btn-sm">Register</button>
                            <p class="align-center"><strong>FREE</strong><br>Activity Price</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Cras sit amet nibh libero - Mi Vel</strong></p>
                            <p>Ut scelerisque consectetur himenaeos at in viverra quisque parturient primis hac fames curabitur a feugiat vulputate eros consequat interdum turpis a. </p>
                            <ul class="list-unstyled">
                                <li>0.75 Credit(s) Habitant a placerat</li>
                            </ul>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary btn-sm">Register</button>
                            <p class="align-center"><strong>FREE</strong><br>Activity Price</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="spacer"></div>


<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="col-sm-12">
                <h3 class="text-uppercase margin-right-10">Councils</h3>
            </div>
                <div class="col-sm-3">
                    <img class="img-responsive pull-right img-border" src="http://fillmurray.com/g/200/300" alt="title" height="120"/>
                </div>
                <div class="col-sm-9">
                    <div>
                        <p class="lead">The mission of the Council on Hypertension is "to foster excellence in hypertension research and education" in order to achieve the American Heart Association’s goal “to build healthier lives, free of cardiovascular diseases and stroke".</p>
                        <p><strong>Christopher S. Wilcox</strong>, MD, Ph.D., FRCP (UK), FACP, FAHA<br>Chair, Council on Hypertension
                        <p class="bg-color-lightgrey padding-10"><strong>Council's recent name change:</strong><br>
                        <a href="#">Read the HBPR Name Change Frequently Asked Questions (PDF) for more information</a></p>
                        <a href="#" class="btn btn-sm btn-default">Council on Hypertension <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="spacer"></div>



<!-- End Section * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- End Content -->
</div><!-- //.col-md-12 -->
