---
layout: l_left_sidebar
title: "Dashboard"
sidebar: 'sidebar_dashboard.html'
---

<div class="row" style="margin-top: 0;margin-bottom: 0px;">
    <div class="col-md-12">
        {% include components/sessions.html %}


    </div>
</div>

<!-- Science News -->
<div class="row">
    <h4 class="col-sm-12 text-uppercase">Your News</h4>
    {% for post in site.posts limit:3 %}
    <div class="col-sm-4">
    <div class="media">
        <div class="media-left">
            <a href="{{ post.url | prepend: site.baseurl }}" class="media-object">
                <img src="{{ post.banner | prepend: site.baseurl }}" alt="" width="80"/>
            </a>
        </div>
        <div class="media-body">
            <a href="{{ post.categories }}" class="text-uppercase tag tag-{{ post.categories }}">
                <span class="indicator"></span>{{ post.categories }}
            </a>
            <a href="{{ post.url | prepend: site.baseurl }}"><h5>{{ post.title }}</h5></a>
            <!--<p>Posted {{ post.date | date: "%b %-d, %Y" }}</p>-->

            <p class="media-excerpt">{{ post.excerpt limit: 50 }}</p>
        </div>
        <!--<a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-sm btn-default">Continue Reading <i class="fa fa-chevron-right"></i></a>-->
    </div>
    </div>
    {% endfor %}
</div>

<!-- Content -->
<div class="row" style="margin-top: 0;">

    <div class="col-md-6 col-sm-6">
        {% include components/image-card.html %}
    </div>
    <div class="col-md-6 col-sm-6">
        {% include components/image-card.html %}
    </div>
    <div class="col-md-6 col-sm-6">
        {% include components/image-card.html %}
    </div>
    <div class="col-md-6 col-sm-6">
        {% include components/image-card.html %}
    </div>
    <div class="col-md-6 col-sm-6">
        {% include components/image-card.html %}
    </div>
</div>