---
layout: l_right_sidebar
bodyClass: "membership-tiers"
sidebar: "sidebar_membership_tiers.html"
title: "Premium Professional Plus"
showTitle: true
card: "membership-form"
---

<h2 class="heading text-primary media-heading">Create Profile</h2>
<!--Membership Form-->


{% include components/step-card.html %}

<!--Temporary Space while breadcrumb-->
<div class="clearfix">
		<div class="text-muted margin-bottom-10">(<span class="required" style="line-height: 12px">*</span> = required )</div>
</div>

<form action="" method="post" role="form">
	<!--<legend>General Membership</legend>-->

	<div class="">

		<div class="panel panel-default bg-color-lightgrey">
			<div class="panel-body">

				<div class="col-sm-6">
					<div class="form-group">
						<label for="email">Username <span class="required">*</span></label>
						<input type="text" class="form-control " required name="email" id="username" placeholder="Username">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="email">Email <span class="required">*</span></label>
						<input type="text" class="form-control " required name="email" id="email" placeholder="Email">
						<label id="" class="checkbox" for="emailUpdates">
							<input value="" id="emailUpdates" name="Email Update" data-toggle="checkbox" type="checkbox">Please update me via email
						</label>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="password">Password <span class="required">*</span></label>
						<input type="text" class="form-control " required name="password" id="password" placeholder="Password">
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="confirmPassword">Confirm Password <span class="required">*</span></label>
						<input type="text" class="form-control " required name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="margin-bottom-10">
			<label for="prefix">Prefix</label>
			<select aria-invalid="false" tabindex="0" class="form-control" id="prefix" name="prefix">
				<option value="Select" selected="">Select</option>
				<option value="Dr.">Dr.</option>
				<option value="Mr.">Mr.</option>
				<option value="Ms.">Ms.</option>
				<option value="Mrs.">Mrs.</option>
			</select>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-3">
				<div class="form-group">
					<label for="firstName">First Name <span class="required">*</span></label>
					<input type="text" class="form-control " required name="firstName" id="firstName" placeholder="First Name">
				</div>
			</div>

			<div class="col-sm-3">
				<div class="form-group">
					<label for="middleName">Middle Name</label>
					<input type="text" class="form-control" name="middleName" id="middleName" placeholder="Middle Name">
				</div>
			</div>

			<div class="col-sm-3">
				<div class="form-group">
					<label for="lastname">Last Name <span class="required">*</span></label>
					<input type="text" class="form-control " required name="lastname" id="lastname" placeholder="Last Name"><span></span>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="suffix">Suffix</label>
					<input type="text" class="form-control " required name="suffix" id="suffix" placeholder="Suffix">
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12">
		<!--Security Question-->
		<div class="margin-bottom-10">

			<label for="secQuestion"> Security Question <span class="required">*</span></label>
			<input type="text" class="form-control " required name="secQuestion" id="secQuestion" placeholder="Security Question">

		</div>
	</div>




	<div class="col-sm-12">
		<div class="form-group">
			<label for="secAnswer"> Security Answer <span class="required">*</span></label>
			<input type="text" class="form-control " required name="secAnswer" id="secAnswer" placeholder="Security Answer">
		</div>
	</div>

	<div class="col-sm-12">

		<!-- Primary Specialy-->
		<div class="margin-bottom-10">
			<label for="primeSpecialty"> Primary Specialty <span class="required">*</span></label>
			<select class="form-control" name="primeSpecialty" id="primeSpecialty">
				<option>Hypertension</option>
				<option>Hypertension</option>
				<option>Hypertension</option>
				<option>Hypertension</option>
				<option>Hypertension</option>
			</select>

		</div>
	</div>

	<div class="col-sm-12">

		<div class="spacer"></div>
		<h3 class="media-heading heading">Address</h3>

	</div>

	<!--Address-->
	<div class="col-sm-12">
		<div class="form-group">
			<label for="address1">Address</label>
			<input type="text" class="form-control margin-bottom-10" name="address1" id="address1" placeholder="Street Address (required)">
			<input type="text" class="form-control margin-bottom-10" name="address2" id="address2" placeholder="Department">
			<input type="text" class="form-control margin-bottom-10" name="address3" id="address3" placeholder="Building number, Suite Number or Apartment number">
		</div>
	</div>

	<div class=" col-sm-6">
		<div class="form-group">
			<label for="city">City <span class="required">*</span></label>
			<input type="text" class="form-control " required name="city" id="city" placeholder="City">
		</div>
	</div>

	<div class="col-sm-6 margin-bottom-10">
		<label for="state"> State/Province <span class="required">*</span></label>
		{% include components/dropdown-billing-states.html %}
	</div>

	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label for="zip">Zip/Postal Code <span class="required">*</span></label>
					<input type="text" class="form-control " required name="zip" id="zip" placeholder="Zip/Postal Code">
				</div>
			</div>
			<div class="col-sm-9">
				<label for="country"> Country <span class="required">*</span></label>
				{% include components/dropdown-countries.html %}
			</div>
		</div>
	</div>

	<!--Privacy Statement-->
	<div class="row">
		<div class="privacyStatement col-sm-12">
			<p>
				<b>Privacy Statement – </b> We must make sure this is on the membership flow and profile creation. Please review the current site to find the privacy statement.
			</p>
		</div>
	</div>
	<!--Privacy Statement ends here-->


	<!--Submit-->

	<div class="col-sm-12 spacer">

		<a href="membership-form-councils.html" type="submit" class="btn btn-primary"> Next </a>
	</div>
</form>

<!--  Custom dropdown select with search capabilities  -->
<link rel="stylesheet" href="http://static.heart.org/ahaanywhere/js/chosen/chosen.css"/>
<script src="http://static.heart.org/ahaanywhere/js/chosen/chosen.jquery.min.js"></script>
<script>
	jQuery(document).ready(function() {
		jQuery("select.form-control").chosen({
			width:'100%',
			"disable_search": true
		});
	});
</script>