---
layout: l_right_sidebar
bodyClass: "membership-tiers"
sidebar: "sidebar_membership_tiers.html"
title: "Premium Professional Plus"
showTitle: true
card: "membership-form-checkout"
---
<h2 class="heading text-primary media-heading">Billing / Shipping</h2>



<!--Temporary Space while breadcrumb-->


<!--Membership Form-->

<form action="" method="post" role="form" autocomplete="off">

	<div class="">
		<div class="text-muted margin-bottom-10">(<span class="required" style="line-height: 12px">*</span> = required )</div>
	</div>

	<div class="clearfix">


		<h3 class="media-heading heading">Billing</h3>

	</div>
	<div class="">
		<div class="panel panel-default bg-color-lightgrey">

			<div class="panel-body">


				<div class="col-sm-12">
					<div class="form-group">
						<label for="bill_address">Address <span class="required">*</span></label>
						<input type="text" class="form-control margin-bottom-10" name="billing_address1" id="billing_address1" placeholder="Address 1">
						<input type="text" class="form-control margin-bottom-10" name="billing_address2" id="billing_address2" placeholder="Address 2">
						<input type="text" class="form-control margin-bottom-10" name="billing_address3" id="billing_address3" placeholder="Address 3">
					</div>
				</div>



				<div class=" col-sm-6">
					<div class="form-group">
						<label for="billing_city">City <span class="required">*</span></label>
						<input type="text" class="form-control " required name="billing_city" id="billing_city" placeholder="City">
					</div>
				</div>

				<div class="col-sm-6 margin-bottom-10">
					<label for="bill_state"> State <span class="required">*</span></label>
					{% include components/dropdown-billing-states.html %}
				</div>

				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-2">
							<div class="form-group">
								<label for="billing_zip">Zip <span class="required">*</span></label>
								<input type="text" class="form-control " required name="billing_zip" id="billing_zip" placeholder="Zip">
							</div>
						</div>
						<div class="col-sm-10">
							<label for="bill_country"> Country <span class="required">*</span></label>
							{% include components/dropdown-billing-countries.html %}
						</div>
					</div>
				</div>

			</div><!-- //.panel-body -->
		</div><!-- //.panel -->
	</div><!-- //.col -->


		<div class="">
			<label id="" class="checkbox" for="same_as_billing">
				<span class="icons">
					<span class="first-icon"></span>
					<span class="second-icon fa fa-check"></span>
				</span>
				<input value="" id="same_as_billing" name="same_as_billing" data-toggle="checkbox" type="checkbox">
				<span class="">
					<i class="fa fa-truck" style="transform: scaleX(-1)"></i> Same As Billing
				</span>
			</label>
		</div>

	<div class="clearfix">


		<h3 class="media-heading heading">Shipping</h3>

	</div>

	<div class="">
		<div class="panel panel-default bg-color-lightgrey">

			<div class="panel-body">


				<div class="col-sm-12">
					<div class="form-group">
						<label for="ship_address">Address <span class="required">*</span></label>
						<input type="text" class="form-control margin-bottom-10" name="shipping_address1" id="shipping_address1" placeholder="Address 1">
						<input type="text" class="form-control margin-bottom-10" name="shipping_address2" id="shipping_address2" placeholder="Address 2">
						<input type="text" class="form-control margin-bottom-10" name="shipping_address3" id="shipping_address3" placeholder="Address 3">
					</div>
				</div>

				<div class=" col-sm-6">
					<div class="form-group">
						<label for="shipping_city">City <span class="required">*</span></label>
						<input type="text" class="form-control " required name="shipping_city" id="shipping_city" placeholder="City">
					</div>
				</div>

				<div class="col-sm-6 margin-bottom-10">
					<label for="shipping_state"> State <span class="required">*</span></label>
					{% include components/dropdown-shipping-states.html %}
				</div>

				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-2">
							<div class="form-group">
								<label for="shipping_zip">Zip <span class="required">*</span></label>
								<input type="text" class="form-control " required name="shipping_zip" id="shipping_zip" placeholder="Zip">
							</div>
						</div>
						<div class="col-sm-10">
							<label for="country"> Country <span class="required">*</span></label>
							{% include components/dropdown-shipping-countries.html %}
						</div>
					</div>
				</div>

			</div><!-- //.panel-body -->
		</div><!-- //.panel -->
	</div><!-- //.col -->


	<div class="spacer">

		<a href="membership-form-summary.html" type="submit" class="btn btn-primary"> Next </a>
	</div>

</form>



<!--  Custom dropdown select with search capabilities  -->
<link rel="stylesheet" href="http://static.heart.org/ahaanywhere/js/chosen/chosen.css"/>
<script src="http://static.heart.org/ahaanywhere/js/chosen/chosen.jquery.min.js"></script>
<script>
	jQuery(document).ready(function() {
		jQuery("select.form-control").chosen({
			width:'100%',
			"disable_search": true
		});

	});
</script>
<script>

	// - - - - - - - - - - - - - - - - - - - - - - - - - - -

	var getSelectedIndex = function(stateOrCountry) {
		var i = String(stateOrCountry);
		switch (i){
			case "state":
				return $("select#billing_state").get(0).selectedIndex;
				break;
			case "country":
				return $("select#billing_country").get(0).selectedIndex;
				break;
		}
	}

	// - - - - - - - - - - - - - - - - - - - - - - - - - - -
	var matchBillingAndShippingState = function(selectedIndex){

		if($('#same_as_billing').prop('checked')){
			$("select#shipping_state")[0].selectedIndex = selectedIndex;
			$("select#shipping_state").trigger("chosen:updated");
		}

	};
	// - - - - - - - - - - - - - - - - - - - - - - - - - - -



	// - - - - - - - - - - - - - - - - - - - - - - - - - - -
	var matchBillingAndShippingCountries = function(selectedIndex){

		if($('#same_as_billing').prop('checked')){
			$("select#shipping_country")[0].selectedIndex = selectedIndex;
			$("select#shipping_country").trigger("chosen:updated");
		}

	};
	// - - - - - - - - - - - - - - - - - - - - - - - - - - -

	$("select#billing_state").on('change',function(evt,params){
		if($('#same_as_billing').prop('checked')){

			matchBillingAndShippingState(getSelectedIndex("state"));
			matchBillingAndShippingCountries(getSelectedIndex("country"));
		}
	});

	// - - - - - - - - - - - - - - - - - - - - - - - - - - -
	var resetStateAndCountry = function(){


		$("select#shipping_state")[0].selectedIndex = 0;
		$("select#shipping_state").trigger("chosen:updated");

		$("select#shipping_country")[0].selectedIndex = 0;
		$("select#shipping_country").trigger("chosen:updated");


	};
	// - - - - - - - - - - - - - - - - - - - - - - - - - - -
	// checkbox
	$("#same_as_billing").on("change", function(){

		if (this.checked) {
			console.log("checked");

			$("[name='shipping_address1']").val($("[name='billing_address1']").val());
			$("[name='shipping_address2']").val($("[name='billing_address2']").val());
			$("[name='shipping_address3']").val($("[name='billing_address3']").val());
			$("[name='shipping_city']").val($("[name='billing_city']").val());
			matchBillingAndShippingState(getSelectedIndex("state"));
			matchBillingAndShippingCountries(getSelectedIndex("country"));


			$("[name='shipping_zip']").val($("[name='billing_zip']").val());

		}else{
			$("[name='shipping_address1']").val('');
			$("[name='shipping_address2']").val('');
			$("[name='shipping_address3']").val('');
			$("[name='shipping_city']").val('');

			$("[name='shipping_zip']").val('');
			resetStateAndCountry();

		}
	});
</script>


