---
layout: l_no_sidebar
bodyClass: "membership-tiers"
sidebar: "sidebar_membership_tiers.html"
title: "Premium Professional Plus"
showTitle: true
showSummaryWidget: true
---
<h2 class="heading text-primary media-heading">Payment</h2>

<!--Temporary Space while breadcrumb-->

<div>
	<p>
		All payment information below is required. Click on the 'PURCHASE' button to complete your order.
	</p>

	<div class="alert alert-info">
		<p>
			Sales tax will be added to Journal subscription orders for residents of AL, CO, FL, GA, HI, ID, IN, KS, LA, MD, MO, ND, NM, NV, PR, RI, SC, SD, UT, VT, WA, WV. GST will be added for residents of Canada. These taxes will be reflected in the actual charges to your credit card at the time your order is processed in our system. Sales tax does not apply to Membership dues.
		</p>
	</div>

</div>

<form action="membership-form-more-info.html" method="post" role="form" id="card" autocomplete="off">
<div class="row">
	<div class="col-sm-6">
		<div class="">



			<div class="panel bg-color-lightgrey">
				<div class="panel-body">
					<h3 class="heading media-heading">Credit Card Info <span class="text-muted small">(<span class="required" style="line-height: 12px">*</span> required )</span></h3>

					<div class="card-wrapper">
						<div class="alert alert-info clearfix">
							<div class="row spacer spacer-0">
								<span class="col-xs-6"><strong>Total</strong> </span><span class="col-xs-6 text-right"><strong>$1936.00</strong></span>
							</div>

							<a href="membership-form-summary.html" class="text-right small" style="text-align: right;">view summary</a>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label for="promoCode">Promotion Code <span class="required">*</span></label>
								<!-- dropdown -->
								{% include components/dropdown-payment-promotion-code-01.html %}
								<br/><br/>
								<!-- dropdown -->
								{% include components/dropdown-payment-promotion-code-02.html %}




							</div>
						</div><!-- /.row -->
						<!-- credit card here -->

						<div class="row	">
							<div class="form-group col-sm-12">
								<label for="number">Number <span class="required">*</span></label>
								<input type="text" class="form-control " required name="number" id="number" placeholder="Number">
							</div>
						</div><!-- /.row -->

						<div class="row">
							<div class="form-group col-sm-6">
								<label for="first-name">First Name <span class="required">*</span></label>
								<input type="text" class="form-control " required name="first-name" id="first-name"
									   placeholder="First Name">
							</div>
							<div class="form-group col-sm-6">
								<label for="last-name">Last Name <span class="required">*</span></label>
								<input type="text" class="form-control " required name="last-name" id="last-name"
									   placeholder="Last Name">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-6">
								<label for="expiry">Expiration <span class="required">*</span></label>
								<input type="text" class="form-control " required name="expiry" id="expiry" placeholder="MM/YYYY">
							</div>
							<div class="form-group col-sm-6">
								<label for="cvc">CVC <span class="required">*</span></label>
								<input type="text" class="form-control " required name="cvc" id="cvc" placeholder="CVC">
							</div>
						</div>



					</div>

				</div><!-- /.panel-body -->


			</div>

		</div>

	</div>
	<div class="col-sm-6">







		<div class="row">
			<h3 class="heading media-heading col-sm-12">Payment Options</h3>
			<!-- Auto renewal -->
			<div class="col-sm-12">
				<h5 class="">Auto Renewal</h5>
				<div class="form-group">
					<label class="checkbox" for="name">
						<span class="icons">
							<span class="first-icon"></span>
							<span class="second-icon fa fa-check"></span>
						</span>
						<input value="" id="name" name="name" data-toggle="checkbox" type="checkbox">
						<span class="">
							By checking this box, I authorize Lippincott Williams & Wilkins (LWW) to automatically renew my AHA membership annually. I understand the credit card designated for this order will be debited for the cost of my membership as a charge from LWW. I agree to the auto renewal terms.
							<br/>

						</span>
					</label>
					<div class="clearfix">
						<a class="text-serif text-muted text-italic pull-right" data-toggle="modal" href="#autoRenewModal">(See our auto renewal terms)</a>
					</div>
				</div>
			</div>

			<!-- Payment Plan -->
			<div class="col-sm-12">
				<h5 class="">Payment Plan</h5>
				<div class="form-group">
					<label class="checkbox" for="paymentplan">
						<span class="icons">
							<span class="first-icon"></span>
							<span class="second-icon fa fa-check"></span>
						</span>
						<input value="" id="paymentplan" name="paymentplan" data-toggle="checkbox" type="checkbox">
						<span class="">
							By checking this box, I authorize Lippincott Williams & Wilkins (LWW) to setup my AHA membership on the Payment Plan. I understand the credit card designated for this order will be debited for the cost of my membership as a charge from LWW. I agree to the payment plan terms.
							<br/>

						</span>
					</label>
					<div class="clearfix">
						<a class="text-serif text-muted text-italic pull-right" data-toggle="modal" href="#paymentPlanModal">(See our payment plan terms)</a>
					</div>
				</div>
			</div>
		</div><!-- /.row -->




	</div>

	 <!-- /.second column -->



</div><!-- /.row -->


	<div class="row">
		<!--Button-->
		<div class="col-sm-12">
			<div class="spacer"></div>
			<div class="">
				<!--Previous Button-->
				<a href="membership-form-summary.html" type="submit" class="btn btn-default btn-default margin-right-10"> Previous </a>
				<!--<a href="membership-thankyou.html" type="submit" class="btn btn-primary"> Purchase </a>-->
				<a class="btn btn-primary" data-toggle="modal" href="#confirmModal"> Purchase </a>
			</div>
		</div>
	</div>

</form>


<!-- Modals -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Auto Renewal Terms Modal -->

<div class="modal fade" id="autoRenewModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Auto Renewal Terms</h4>
			</div>
			<div class="modal-body">
				<p>The Auto Renewal Program is a renewal option that automatically renews your membership each year.</p>
				<p>
					Just think, by taking advantage of this new service, you will...
					<ul>
						<li>No longer receive a long series of renewal reminders</li>
						<li>No longer have to think about where you placed your most recent invoice
						</li>
						<li>No longer have to wonder if you have already paid for next year's membership</li>
						<li>Best yet, you will never again risk missing valuable information and issues because you forgot to renew your membership.</li>
					</ul>
				</p>
				<h5>How the Program Works…</h5>
				<p>
					By signing up for the Auto Renewal Program, your membership will automatically be renewed every year moving forward until you instruct us otherwise or until the credit card designated has expired.
				</p>
				<p>
					You will receive an email confirmation once your payment has been processed by Lippincott Williams & Wilkins.
					<br/><br/>
					Prior to your renewal period, you will receive a notification letter from Lippincott Williams & Wilkins approximately six weeks before your current membership term expires that your account will be renewed and your designated credit card will be charged.
					<br/>
					The credit card designated for your order will be debited for the cost of the membership term, at the then prevailing price. The cost will show on your credit card as a charge from Lippincott Williams & Wilkins.
					<br/>
					<ul>
						<li>If your credit card is declined you will be notified by Lippincott Williams & Wilkins and payment is expected immediately to cover the declined charges</li>
						<li>If a payment is not made to cover the declined credit card, your membership and online access will be inactivated until paid and you will receive an invoice for the full amount from Lippincott Williams & Wilkins. </li>

					</ul>
					Should you have any questions about the Auto Renewal Program or no longer wish to be enrolled, please contact Customer Service.
					<br/>
					<br/>
					<strong>Customer Service</strong> <br/>
					1-800-787-8984 (Inside U.S.) <br/>
					1-301-223-2307 (Outside U.S.) <br/>
					<a href="mailto:ahacustomerservice@lww.com">ahacustomerservice@lww.com</a>
				
				</p>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Payment Plan Modal -->

<div class="modal fade" id="paymentPlanModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Payment Plan Terms</h4>
			</div>
			<div class="modal-body">
				<p>
					The Payment Plan Program is only available for the <strong>Premium Professional Plus</strong> and <strong>Premium Professional</strong> membership levels.
				</p>
				<h5>How the Program Works…</h5>
				<p>
					By signing up for the Payment Plan Program, your membership becomes active immediately.
					The Payment Plan Program only applies to your current membership term.
					Dues are divided into 3 convenient payments:
					<ul>
						<li>The 1st payment is due immediately</li>
						<li>The 2nd payment is due 2 months after the initial payment and will automatically be debited to your credit card</li>
						<li>The 3rd payment is due 4 months after the initial payment and will automatically be debited to your credit card</li>
					</ul>

				You will receive an email confirmation once your payment has been processed by Lippincott Williams & Wilkins.
				<br/><br/>
				The credit card designated for your order will be debited and show on your credit card as a charge from Lippincott Williams & Wilkins.
					<ul>
						<li>If your credit card is declined you will be notified by Lippincott Williams & Wilkins and payment is expected immediately to cover the declined charges</li>
						<li>If a payment is not made to cover the declined credit card, your membership and online access will be inactivated until paid and you will receive an invoice for the full amount from Lippincott Williams & Wilkins. </li>
					</ul>
				Should you have any questions about the Payment Plan Program, please contact Customer Service.
				<br/>
				<br/>
				<strong>Customer Service</strong> <br/>
				1-800-787-8984 (Inside U.S.) <br/>
				1-301-223-2307 (Outside U.S.) <br/>
				<a href="mailto:ahacustomerservice@lww.com">ahacustomerservice@lww.com</a>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Payment Authoization Modal -->

<div class="modal fade" id="confirmModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Payment Confirmation</h4>
			</div>
			<div class="modal-body">
				Payment authorization/confirmation text <br/>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores aspernatur, consectetur impedit itaque iure mollitia nesciunt odit officia optio quis recusandae rem sequi sit, tempore totam vel veniam, vero.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"> Cancel </button>
				<a href="membership-thankyou.html" class="btn btn-primary"> Confirm </a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Payment Form -->
<!--  Custom dropdown select with search capabilities  -->
<link rel="stylesheet" href="http://static.heart.org/ahaanywhere/js/chosen/chosen.css"/>
<script src="http://static.heart.org/ahaanywhere/js/chosen/chosen.jquery.min.js"></script>
<script>
	jQuery(document).ready(function() {
		jQuery("select.form-control").chosen({
			width:'100%',
			"disable_search": true
		});
	});
</script>

<!-- Credit card validator -->
<script src="js/jquery.card.js"></script>
<script>
	jQuery(function() {
		//hook for credit card validation
		$('form#card').card({
			container: '.card-wrapper'
			, formSelectors: {nameInput: 'input[name="first-name"], input[name="last-name"]'}
			/*,formSelectors: {
				numberInput: 'input#number', // optional — default input[name="number"]
				expiryInput: 'input#expiry', // optional — default input[name="expiry"]
				cvcInput: 'input#cvc', // optional — default input[name="cvc"]
				nameInput: 'input#name' // optional - defaults input[name="name"]
			}*/
			/*,width: 200*/
			, values: {
				number: '**** **** **** ****',
				name: 'Name',
				expiry: '**/****',
				cvc: '***'
			}

		});
	});
</script>
