---
layout: l_right_sidebar
bodyClass: "membership-tiers"
sidebar: "sidebar_membership_tiers.html"
title: "PREMIUM PROFESSIONAL PLUS"
showTitle: true
card: "membership-form-councils"
---
<h2 class="heading text-primary media-heading">Select Your Councils</h2>


{% comment %}
{% include components/step-card.html %}
{% endcomment %}


<!--Membership Form-->

<div class="">
	<form action="" method="post" role="form">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Please select the Councils you are interested in affiliating with</div>
		<div class="panel-body">
			<!--<ul>-->
				<!--<li>The AHA/ASA Professional Membership program is comprised of 16 Scientific Councils.</li>-->
				<!--<li>Each Council represents specific specialty fields contributing to the mission of the association.</li>-->
				<!--<li>By affiliating with these groups you will help support and contribute to scientific and medical advances in the councils' specified fields.</li>-->
			<!--</ul>-->
			<p>Members may affiliate with <strong>two</strong> Scientific Councils, and an optional third council for an additional <strong>$65.00</strong>.</p>
			<p>Council Affiliation Distribution Definitions
				By choosing one Primary council, that council will receive 100% of the dues distribution calculation
				By choosing a Primary and Secondary councils the dues distribution calculation is split approximately 60/40%
			</p>
		</div>

		<!-- List group -->
		<ul class="list-group">
			{% assign councils = site.data.councils.councils %}
			{% for council in councils %}
			<li class="list-group-item">
				<label class="checkbox checkbox-council" for="{{council.councilCode}}">
				<span class="icons">
					<span class="first-icon"></span>
					<span class="second-icon fa fa-check"></span>
				</span>
					<input data-type="checkbox-council" value="{{council.councilCode}}" id="{{council.councilCode}}" name="checkbox-council" data-toggle="checkbox" type="checkbox">
					<strong>{{council.councilCode}}</strong>: {{council.name}}

					<a href="#" class="small text-muted text-serif text-italic" data-toggle="modal" data-target="#{{council.councilCode | append:'Modal'}}">(description)</a>
				</label>


				{% if council.addonid%}
					<!-- Default disabled -->
					<div class="row">
						<div class="col-sm-1"></div>
						<div class="col-sm-11">
							<label class="checkbox checkbox-addon" for="{{council.addonid}}">
								<span class="icons">
									<span class="first-icon"></span>
									<span class="second-icon fa fa-check"></span>
								</span>
									<input value="{{council.addonid}}" data-type="checkbox-addon" id="{{council.addonid}}" name="checkbox-addon" data-toggle="checkbox" type="checkbox">
									<strong>{{council.addonname}}</strong><span class="text-muted text-serif text-italic"> ({{council.addonnote}}) </span>

								<span class="pull-right margin-left-10"><strong>+ ${{council.addonprice}}</strong></span>
							</label>
						</div>
					</div>


				{% endif %}

			</li>
			{% endfor %}
		</ul>
	</div><!-- //.panel -->

	<!--Previous Button-->
	<a href="membership-form.html" type="submit" class="btn btn-default btn-default margin-right-10"> Previous </a>

	<!--Submit-->
	<a href="#" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#councilsSelectedModal"> Next </a>

	</form>

</div>


<!--//{{council.snippet}}-->

<!-- Modals for council descriptions -->
{% assign councils = site.data.councils.councils %}
{% for council in councils %}
<!-- Modal -->
<div class="modal fade" id="{{council.councilCode | append:'Modal'}}" tabindex="-1" role="dialog" aria-labelledby="{{council.councilCode | append:'Modal'}}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="{{council.councilCode | append:'ModalLabel'}}">{{council.name}}</h4>
			</div>
			<div class="modal-body">
				<p>
					{{council.snippet}}
				</p>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>
{% endfor %}

<!-- Modal: Warning -->

<div class="modal fade" id="warningModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Warning</h4>
			</div>
			<div class="modal-body">
				<strong>Please Note</strong>: You have chosen to add a third council and an additional <strong>$65.00</strong> will be added to your total.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal: List of Councils -->

<div class="modal fade" id="councilsSelectedModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Selected Councils</h4>
			</div>
			<div class="modal-body">
				<ul class="list-unstyled">

				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default margin-right-10" data-dismiss="modal">Edit My Councils</button>
				<a href="membership-form-councils-rank.html" class="btn btn-primary"> Next </a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Activate the sort -->
<script>
	$(function() {

		var councilsList = {
			"councils":[
				 {"value":"ATVB","name":"Arteriosclerosis, Thrombosis, and Vascular Biology"}
				,{"value":"BCVS","name":"Basic Cardiovascular Sciences"}
				,{"value":"3CPR","name":"Cardiopulmonary, Critical Care, Perioperative and Resuscitation"}
				,{"value":"CVDY","name":"Cardiovascular Disease in the Young"}
				,{"value":"CVSN","name":"Cardiovascular and Stroke Nursing"}
				,{"value":"CVRI","name":"Cardiovascular Radiology and Intervention"}
				,{"value":"CVSA","name":"Cardiovascular Surgery and Anesthesia"}
				,{"value":"CLCD","name":"Clinical Cardiology"}
				,{"value":"EPI","name":"Epidemiology and Prevention"}
				,{"value":"FGTB","name":"Functional Genomics and Translational Biology"}
				,{"value":"HBPR","name":"Hypertension"}
				,{"value":"KCVD","name":"Kidney in Cardiovascular Disease"}
				,{"value":"LCD","name":"Lifestyle and Cardiometabolic Health"}
				,{"value":"PVD","name":"Peripheral Vascular Disease"}
				,{"value":"QCOR","name":"Quality of Care and Outcomes Research"}
				,{"value":"STROKE","name":"Stroke Council"}

			]
		};
		var selectedCouncilsRaw;//just a serialize array from jquery of selected council
		var selectCouncilsClean = [];//clean list with formatted string

		var selectedCouncils = [];

		//On page load make sure all input checkbox is reset to unchecked
		$('input:checkbox').prop('checked',false);

		// CHECKBOXES - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
		// HIDE ALL CHECKBOXES - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
		var hideMe = function(){
			var $elems = $("input[name='checkbox-council']:checkbox:not(:checked)");
			$elems.each(function(){
				$(this).prop('disabled',true).closest('.checkbox').addClass('disabled');
				//console.log($(this));
			});

		};

		// SHOW ALL CHECKBOXES- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

		var showMeAll = function(){
			var $elems = $("input:checkbox:not(:checked)");
			$elems.each(function(){
				$(this).prop('disabled',false).closest('.checkbox').removeClass('disabled');
				//console.log($(this));
			});
		};

		// COUNT ALL CHECKED CHECKBOXES - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

		var countChecked = function() {
			var n = $( "input[name='checkbox-council']:checkbox:checked" ).length;
			var numberCouncilAllowMax = 3;
			setTimeout(function(){
				if (n >= numberCouncilAllowMax) {
					hideMe();
					hideAllAddons();
					//trigger warning modal, warningModal
					$('#warningModal').modal('show')

				}else{
					showMeAll();
				}
			},200);
		};

		// HIDE ALL ADDON CHECKBOXES - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

		var hideAllAddons = function() {
			//$("input[name=checkbox-addon]").prop('disabled',true) && $("input[name=checkbox-addon]").parent().addClass('disabled');
			var $elems = $("input[name=checkbox-addon]");
			$elems.each(function(i){
				//sibling checkbox value
				var isParentChecked = $(this).parents('li').find('input[name=checkbox-council]').prop('checked');
				if(!isParentChecked){
					//disable
					$(this).prop('disabled',true) && $(this).parent().addClass('disabled');


				};
			});

		};
		// CREATE COUNCIL ARRAY LIST - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

		var createSelectedCouncilsList = function (){
			selectCouncilsClean = [];//clean array

			console.log("from function ");
			console.dir(selectedCouncilsRaw);
			var i = null;
			for (i = 0; i < selectedCouncilsRaw.length; i++){
				console.log(selectedCouncilsRaw[i].value);
				var searchValue = selectedCouncilsRaw[i].value;

				for (j = 0; councilsList.councils.length > j; j += 1) {
					if (councilsList.councils[j].value === searchValue) {
						//return councilsList.councils[i];
						//console.log(councilsList.councils[j].name);
						var councilName = String(councilsList.councils[j].value + ': ' + councilsList.councils[j].name);
						selectCouncilsClean.push(councilName);
					}
				}

			}
			console.log(selectCouncilsClean);
			console.log("end from function ");

		};

		// WRITE TO MODAL FOR DISPLAY - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

		var writeCouncilListToModal = function(){
			var $theModal = $('#councilsSelectedModal'),
				$theModalList = $theModal.find('ul');
			var i = null;
			$theModalList.empty();
			for(i = 0; i < selectCouncilsClean.length; i++){
				$theModalList.append(
						$('<li>').append(
								selectCouncilsClean[i]
						)
				);
			}


		};

		// TRIGGER - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

		$('.checkbox.checkbox-council').on('toggle',function(){
			countChecked();
			$(this).parent().toggleClass('checked');//for li element to highlight
			//alert("check council");
			//if have addon
			var isChecked = ($(this).find('input:checkbox').prop('checked'));
			if(!isChecked){
				//not checked, then uncheck addon
				var $checkboxAddon = $(this).parents('li').find('input[name=checkbox-addon]');
				$checkboxAddon.checkbox('uncheck');

			}else{
				// checked

						//var tu = $(this).find('input[name=checkbox-council]:checked').val();


			}

			selectedCouncilsRaw = $( "input[name=checkbox-council]:checked" ).serializeArray();

			createSelectedCouncilsList();

			writeCouncilListToModal();

		});


		$('.checkbox.checkbox-addon').on('toggle',function(){
			//get parent checkbox
			var $parentCheckbox = $(this).parents('li').find('input[name=checkbox-council]');
			var isParentChecked = $parentCheckbox.prop('checked');//checked:true, unchecked:false
			if(!isParentChecked){
				$parentCheckbox.checkbox('toggle');
			}
			//
		});
	});
</script>