---
layout: l_right_sidebar
bodyClass: "membership-tiers"
sidebar: "sidebar_membership_tiers.html"
title: "Become a Member"
showTitle: true
---

<h2 class="heading border-1-bottom text-primary">Professional Plus</h2>
<!--Membership Form-->

<!-- Steps Cards-->
<div class="row">
<div class="col-sm-12">
	<div class="col-sm-3">
		<a href="#" class="membership-step-card panel  animated flipInY">
			<div class="panel-body text-center">
				<h3 class="lead media-heading">
					<div href="membership-form.html">
						Create Profile
					</div>
					<br/>
					<i class="ion-ios-person"></i>
				</h3>

			</div>
		</a>
	</div>
	<div class="col-sm-3">
		<a href="#" class="membership-step-card panel animated flipInY delay-25s">
			<div class="panel-body text-center">
				<h3 class="lead media-heading">
					<a href="membership-form-councils.html">
						Select Coucils
					</a>
					<br/><i class="ion-ios-people"></i>
				</h3>

			</div>
		</a>
	</div>
	<div class="col-sm-3">
		<a href="#" class="membership-step-card panel animated flipInY delay-05s">
			<div class="panel-body text-center">
				<h3 class="lead media-heading">
					<a href="membership-journal.html">
						Select Journals
					</a>
					<br/><i class="ion-ios-paper"></i>
				</h3>

			</div>
		</a>
	</div>
	<div class="col-sm-3">
		<a href="#" class="membership-step-card active panel animated flipInY delay-75s">
			<div class="panel-body text-center">
				<h3 class="lead media-heading">
					<a href="membership-form-checkout.html">
						Checkout
					</a>
					<br/><i class="ion-ios-cart"></i>
				</h3>

			</div>
		</a>
	</div>


</div>
</div>


<form action="" method="post" role="form">
	<!--<legend>General Membership</legend>-->
	<div class="col-sm-12">

		<h3 class="media-heading heading">Profile</h3>

		<div class="text-muted margin-bottom-10">(<span class="required" style="line-height: 12px">*</span> = required )</div>
	</div>

	<div class="col-sm-12">

		<div class="panel panel-default bg-color-lightgrey">
			<div class="panel-body">

				<div class="col-sm-6">
					<div class="form-group">
						<label for="email">Username <span class="required">*</span></label>
						<input type="text" class="form-control " required name="email" id="username" placeholder="Username">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="email">Email <span class="required">*</span></label>
						<input type="text" class="form-control " required name="email" id="email" placeholder="Email">
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="password">Password <span class="required">*</span></label>
						<input type="text" class="form-control " required name="password" id="password" placeholder="Password">
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="confirmPassword">Confirm Password <span class="required">*</span></label>
						<input type="text" class="form-control " required name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="margin-bottom-10">
			<label for="prefix">Prefix</label>
			<select aria-invalid="false" tabindex="0" class="form-control" id="prefix" name="prefix">
				<option value="Select" selected="">Select</option>
				<option value="Dr.">Dr.</option>
				<option value="Mr.">Mr.</option>
				<option value="Ms.">Ms.</option>
				<option value="Mrs.">Mrs.</option>
			</select>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="form-group">
			<label for="firstName">First Name <span class="required">*</span></label>
			<input type="text" class="form-control " required name="firstName" id="firstName" placeholder="First Name">
		</div>
	</div>

	<div class="col-sm-4">
		<div class="form-group">
			<label for="lastname">Last Name <span class="required">*</span></label>
			<input type="text" class="form-control " required name="lastname" id="lastname" placeholder="Last Name"><span></span>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="form-group">
			<label for="suffix">Suffix</label>
			<input type="text" class="form-control " required name="suffix" id="suffix" placeholder="Suffix">
		</div>
	</div>

	<div class="col-sm-12">
		<!--Security Question-->
		<div class="margin-bottom-10">
			<label for="secQuestion">Security Question <span class="required">*</span></label>
			<select class="form-control" name="secQuestion" id="secQuestion">
				<option>Select security question</option>
				<option>What is your favorite movie?</option>
				<option>Who is your favorite actor?</option>
				<option>Where was your high school?</option>
				<option>What city did you fall in love?</option>
			</select>

		</div>
	</div>




	<div class="col-sm-12">
		<div class="form-group">
			<label for="secAnswer"> Security Answer <span class="required">*</span></label>
			<input type="text" class="form-control " required name="secAnswer" id="secAnswer" placeholder="Security Answer">
		</div>
	</div>

	<div class="col-sm-12">

		<!-- Primary Specialy-->
		<div class="margin-bottom-10">
			<label for="primeSpecialty"> Primary Specialty <span class="required">*</span></label>
			<select class="form-control" name="primeSpecialty" id="primeSpecialty">
				<option>Hypertension</option>
				<option>Hypertension</option>
				<option>Hypertension</option>
				<option>Hypertension</option>
				<option>Hypertension</option>
			</select>

		</div>
	</div>

	<div class="col-sm-12">

		<div class="spacer"></div>
		<h3 class="media-heading heading">Address</h3>

	</div>

	<!--Address-->
	<div class="col-sm-12">
		<div class="form-group">
			<label for="address1">Address</label>
			<input type="text" class="form-control margin-bottom-10" name="address1" id="address1" placeholder="Address 1">
			<input type="text" class="form-control margin-bottom-10" name="address2" id="address2" placeholder="Address 2">
			<input type="text" class="form-control margin-bottom-10" name="address3" id="address3" placeholder="Address 3">
		</div>
	</div>

	<div class=" col-sm-6">
		<div class="form-group">
			<label for="city">City <span class="required">*</span></label>
			<input type="text" class="form-control " required name="city" id="city" placeholder="City">
		</div>
	</div>

	<div class="col-sm-6 margin-bottom-10">
		<label for="state"> State <span class="required">*</span></label>
		{% include components/dropdown-states.html %}
	</div>

	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="zip">Zip <span class="required">*</span></label>
					<input type="text" class="form-control " required name="zip" id="zip" placeholder="Zip">
				</div>
			</div>
			<div class="col-sm-10">
				<label for="country"> Country <span class="required">*</span></label>
				{% include components/dropdown-countries.html %}
			</div>
		</div>
	</div>





	<!--Submit-->

	<div class="col-sm-12 spacer">

		<a href="membership-form-councils.html" type="submit" class="btn btn-primary"> Next </a>
	</div>
</form>

<!--  Custom dropdown select with search capabilities  -->
<link rel="stylesheet" href="http://static.heart.org/ahaanywhere/js/chosen/chosen.css"/>
<script src="http://static.heart.org/ahaanywhere/js/chosen/chosen.jquery.min.js"></script>
<script>
	jQuery(document).ready(function() {
		jQuery("select.form-control").chosen({
			width:'100%',
			"disable_search": true
		});
	});
</script>