---
title: Membership
layout: l_full_width_no_title
---
<!--This is content for this page-->
<div class="container-fluid" role="main">
    <!--Content-->

    <div class="jumbotron" style="border-bottom: 1px solid #eaeaea">
            <div class="container">
                <h1>Learn & Connect</h1>
                <p class="lead">The American Heart Association/American Stroke Association currently has over 32,000 members that support our mission through their outstanding gifts of time, dedication and heart. Our robust group of cardiovascular professionals who participate in discovery and dissemination of science, through 16 different scientific councils, each unique in their own way, which are sure to coincide with your cardiovascular specialties and classifications.</p>
                <div class="btn btn-danger btn-embossed">Sign In</div>
                <p>or <a href="/free-flat-ui-drunken-parrot-lite/">Upgrade Membership</a></p>
            </div>

    </div>

    <div class="container pricing-table table-responsive">

        <!-- PRICING TABLES -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th><h4>BASIC</h4><small>$9 ANNUALLY</small></th>
                    <th><h4>EARLY<br>CAREER</h4><small>$9 ANNUALLY</small></th>
                    <th><h4>PROFESSIONAL</h4><small>$9 ANNUALLY</small></th>
                    <th><h4>PREMIUM</h4><small>$9 ANNUALLY</small></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><strong>36 tokens for AHA Journals CME program</strong></th>
                    <td></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <th scope="row"><strong>Online access AHA scientific journals</strong></th>
                    <td></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <th scope="row"><strong>Science OnDemand®</strong></th>
                    <td></td>
                    <td></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <th scope="row"><strong>Priority registration and housing</strong></th>
                    <td></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <th scope="row"><strong>Savings on each Specialty Conference</strong></th>
                    <td></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <th scope="row"><strong>Eligible for AHA council grants and awards</strong></th>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <th scope="row"><strong>Networking opportunities</strong></th>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>


                </tr>
                <tr>
                    <th></th>
                    <td><div class="btn btn-primary btn-block">Select and Join</div>
                        <p class="align-center">or <a href="#">See all benefits</a></p>
                    </td>
                    <td><div class="btn btn-primary btn-block">Select and Join</div>
                        <p class="align-center">or <a href="#">See all benefits</a></p>
                    </td>
                    <td><div class="btn btn-primary btn-block">Select and Join</div>
                        <p class="align-center">or <a href="#">See all benefits</a></p>
                    </td>
                    <td><div class="btn btn-primary btn-block">Select and Join</div>
                        <p class="align-center">or <a href="#">See all benefits</a></p>
                    </td>

                </tr>
            <tr></tr>
            <tr></tr>

            </tbody>
        </table>
    </div> <!-- /END ALL PACKAGE -->



    <div class="container">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Company</th>
                    <th class="numeric">Price</th>
                    <th class="numeric">Change</th>
                    <th class="numeric">Change %</th>
                    <th class="numeric">Open</th>
                    <th class="numeric">High</th>
                    <th class="numeric">Low</th>
                    <th class="numeric">Volume</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Code">AAC</td>
                    <td data-title="Company">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                    <td data-title="Price" class="numeric">$1.38</td>
                    <td data-title="Change" class="numeric">-0.01</td>
                    <td data-title="Change %" class="numeric">-0.36%</td>
                    <td data-title="Open" class="numeric">$1.39</td>
                    <td data-title="High" class="numeric">$1.39</td>
                    <td data-title="Low" class="numeric">$1.38</td>
                    <td data-title="Volume" class="numeric">9,395</td>
                </tr>
            </tbody>
        </table>
    </div> <!-- /END ALL PACKAGE -->

    <div class="spacer" style="margin-top: 60px;"></div>
    <div class="container">
        <div class="col-md-4">
            {% for post in site.posts limit:2 %}
            <div class="media">
                <div class="media-left">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="media-object">
                        <img src="{{ post.banner | prepend: site.baseurl }}" alt="" />
                    </a>
                </div>
                    <div class="media-body">
                        <a href="{{ post.categories }}" class="text-uppercase tag tag-{{ post.categories }}">
                            <span class="indicator"></span>{{ post.categories }}
                        </a>
                        <a href="{{ post.url | prepend: site.baseurl }}"><h5>{{ post.title }}</h5></a>
                        <!--<p>Posted {{ post.date | date: "%b %-d, %Y" }}</p>-->

                        <p class="media-excerpt">{{ post.excerpt }}</p>
                    </div>

                    <!--<a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-sm btn-default">Continue Reading <i class="fa fa-chevron-right"></i></a>-->


            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% for post in site.posts limit:2 %}
            <div class="media">
                <div class="media-left">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="media-object">
                        <img src="{{ post.banner | prepend: site.baseurl }}" alt="" />
                    </a>
                </div>
                <div class="media-body">
                    <a href="{{ post.categories }}" class="text-uppercase tag tag-{{ post.categories }}">
                        <span class="indicator"></span>{{ post.categories }}
                    </a>
                    <a href="{{ post.url | prepend: site.baseurl }}"><h5>{{ post.title }}</h5></a>
                    <!--<p>Posted {{ post.date | date: "%b %-d, %Y" }}</p>-->

                    <p class="media-excerpt">{{ post.excerpt }}</p>
                </div>

                <!--<a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-sm btn-default">Continue Reading <i class="fa fa-chevron-right"></i></a>-->


            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% for post in site.posts limit:2 %}
            <div class="media">
                <div class="media-left">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="media-object">
                        <img src="{{ post.banner | prepend: site.baseurl }}" alt="" />
                    </a>
                </div>
                <div class="media-body">
                    <a href="{{ post.categories }}" class="text-uppercase tag tag-{{ post.categories }}">
                        <span class="indicator"></span>{{ post.categories }}
                    </a>
                    <a href="{{ post.url | prepend: site.baseurl }}"><h5>{{ post.title }}</h5></a>
                    <!--<p>Posted {{ post.date | date: "%b %-d, %Y" }}</p>-->

                    <p class="media-excerpt">{{ post.excerpt }}</p>
                </div>

                <!--<a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-sm btn-default">Continue Reading <i class="fa fa-chevron-right"></i></a>-->


            </div>
            {% endfor %}
        </div>

    </div>



</div><!-- //.col-md-9 -->
