---
title: Membership
layout: l_full_width_no_title
---
<!--This is content for this page-->
<div class="container-fluid" role="main">
    <!--Content-->

    <div class="jumbotron" style="border-bottom: 1px solid #eaeaea; background: url('img/sample/bg_people.jpg')">
        <div class="container">
            <h1>Learn & Connect</h1>
            <p class="lead">The American Heart Association/American Stroke Association currently has over 32,000 members that support our mission through their outstanding gifts of time, dedication and heart. Our robust group of cardiovascular professionals who participate in discovery and dissemination of science, through 16 different scientific councils, each unique in their own way, which are sure to coincide with your cardiovascular specialties and classifications.</p>
            <div class="btn btn-danger btn-embossed">Sign In</div>
            <p>or <a href="/free-flat-ui-drunken-parrot-lite/">Upgrade Membership</a></p>
        </div>
    </div>





    <div class="container benefits">
        <div class="row">
            <div class="col-md-8">
                <h2 class="">Access to our career enhancing benefits, including:</h2>

                    <ul class="">
                        <li>Up to $400 in savings on Scientific Sessions registration and International Stroke Conference registration plus savings at AHA’s other scientific conferences</li>
                        <li>Customized access to research and clinical information across multiple specialties</li>
                        <li>Leadership Opportunities</li>
                        <li>Be a part of our AHA Professional Online Network — connect with peers and leaders in your specialty</li>
                        <li>Research grant application fee waived for members. You can apply at my.americanheart.org/research</li>
                        <li>Online access to AHA scientific journals</li>
                        <li>Affiliate with our Scientific Councils</li>
                    </ul>

            </div><!-- end col -->
            <div class="col-md-4">
                <img src="img/sample/userinfo.png">
            </div>

            <div class="col-sm-7">

            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->





    <div class="container pricing-table table-responsive">
        <!-- PRICING TABLES -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th><h4>BASIC</h4><small>$9 ANNUALLY</small></th>
                    <th><h4>EARLY<br>CAREER</h4><small>$9 ANNUALLY</small></th>
                    <th><h4>PROFESSIONAL</h4><small>$9 ANNUALLY</small></th>
                    <th><h4>PREMIUM</h4><small>$9 ANNUALLY</small></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><strong>36 tokens for AHA Journals CME program</strong></th>
                    <td></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <th scope="row"><strong>Online access AHA scientific journals</strong></th>
                    <td></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <th scope="row"><strong>Science OnDemand®</strong></th>
                    <td></td>
                    <td></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <th scope="row"><strong>Priority registration and housing</strong></th>
                    <td></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <th scope="row"><strong>Savings on each Specialty Conference</strong></th>
                    <td></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <th scope="row"><strong>Eligible for AHA council grants and awards</strong></th>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <th scope="row"><strong>Networking opportunities</strong></th>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>


                </tr>
                <tr>
                    <th></th>
                    <td><div class="btn btn-primary btn-block">Select and Join</div>
                        <p class="align-center">or <a href="#">See all benefits</a></p>
                    </td>
                    <td><div class="btn btn-primary btn-block">Select and Join</div>
                        <p class="align-center">or <a href="#">See all benefits</a></p>
                    </td>
                    <td><div class="btn btn-primary btn-block">Select and Join</div>
                        <p class="align-center">or <a href="#">See all benefits</a></p>
                    </td>
                    <td><div class="btn btn-primary btn-block">Select and Join</div>
                        <p class="align-center">or <a href="#">See all benefits</a></p>
                    </td>

                </tr>
            <tr></tr>
            <tr></tr>

            </tbody>
        </table>
    </div> <!-- /END ALL PACKAGE -->

    <div class="container">
        <div class="pricing-table">

        <!-- PRICING TABLES -->
        <div class="row">

            <!-- PACKAGE ONE -->
            <div class="col-md-3">
                <div class="package bgcolor-white">
                    <div class="header dark-bg">
                        <h3>Basic</h3>
                        <div class="sub-heading">
                            From <span class="colored-text strong">$39</span> per month
                        </div>
                    </div>

                    <!-- PACKAGE FEATURES -->
                    <div class="package-features">
                        <ul>
                            <li>
                                <div class="column-9p">
                                    Total Users
                                </div>
                                <div class="column-1p">
                                    15
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    Unlimited Styles
                                </div>
                                <div class="column-1p">
                                    <span class="icon_check"></span>
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    Advance Protection
                                </div>
                                <div class="column-1p">
                                    <span class="icon_check"></span>
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    Cloud Storage
                                </div>
                                <div class="column-1p">
                                    <span class="icon_close"></span>
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    24/7 Customer Service
                                </div>
                                <div class="column-1p">
                                    <span class="icon_close"></span>
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    Backup Service
                                </div>
                                <div class="column-1p">
                                    <span class="icon_close"></span>
                                </div>
                            </li>
                        </ul>
                        <div class="bottom-row">
                            <div class="column-7p">
                                <h6>$39 Per Month</h6>
                            </div>
                            <div class="column-3p">
                                <div id="cta-1">
                                    <a href="#home" class="btn secondary-button">SIGN UP</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /END PACKAGE -->

            <!-- PACKAGE TWO -->
            <div class="col-md-3">
                <div class="package bgcolor-white">
                    <div class="header color-bg">
                        <h3>Premium</h3>
                        <div class="sub-heading">
                            From <span class=" strong">$59</span> per month
                        </div>
                    </div>

                    <!-- PACKAGE FEATURES -->
                    <div class="package-features">
                        <ul>
                            <li>
                                <div class="column-9p">
                                    Total Users
                                </div>
                                <div class="column-1p">
                                    35
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    Unlimited Styles
                                </div>
                                <div class="column-1p">
                                    <span class="icon_check"></span>
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    Advance Protection
                                </div>
                                <div class="column-1p">
                                    <span class="icon_check"></span>
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    Cloud Storage
                                </div>
                                <div class="column-1p">
                                    <span class="icon_check"></span>
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    24/7 Customer Service
                                </div>
                                <div class="column-1p">
                                    <span class="icon_check"></span>
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    Backup Service
                                </div>
                                <div class="column-1p">
                                    <span class="icon_close"></span>
                                </div>
                            </li>
                        </ul>
                        <div class="bottom-row">
                            <div class="column-7p">
                                <h6>$59 Per Month</h6>
                            </div>
                            <div class="column-3p">
                                <div id="cta-2">
                                    <a href="#home" class="btn standard-button">SIGN UP</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /END PACKAGE -->

            <!-- PACKAGE THREE -->
            <div class="col-md-3">
                <div class="package bgcolor-white">
                    <div class="header dark-bg">
                        <h3>Ultimate</h3>
                        <div class="sub-heading">
                            From <span class="colored-text strong">$99</span> per month
                        </div>
                    </div>

                    <!-- PACKAGE FEATURES -->
                    <div class="package-features">
                        <ul>
                            <li>
                                <div class="column-9p">
                                    Unlimited Users
                                </div>
                                <div class="column-1p">
                                    <span class="icon_check"></span>
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    Unlimited Styles
                                </div>
                                <div class="column-1p">
                                    <span class="icon_check"></span>
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    Advance Protection
                                </div>
                                <div class="column-1p">
                                    <span class="icon_check"></span>
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    Cloud Storage
                                </div>
                                <div class="column-1p">
                                    <span class="icon_check"></span>
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    24/7 Customer Service
                                </div>
                                <div class="column-1p">
                                    <span class="icon_check"></span>
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    Backup Service
                                </div>
                                <div class="column-1p">
                                    <span class="icon_check"></span>
                                </div>
                            </li>
                        </ul>
                        <div class="bottom-row">
                            <div class="column-7p">
                                <h6>$99 Per Month</h6>
                            </div>
                            <div class="column-3p">
                                <div id="cta-3">
                                    <a href="#home" class="btn secondary-button">SIGN UP</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /END PACKAGE -->

            <!-- PACKAGE Four -->
            <div class="col-md-3">
                <div class="package bgcolor-white">
                    <div class="header dark-bg">
                        <h3>Ultimate</h3>
                        <div class="sub-heading">
                            From <span class="colored-text strong">$99</span> per month
                        </div>
                    </div>

                    <!-- PACKAGE FEATURES -->
                    <div class="package-features">
                        <ul>
                            <li>
                                <div class="column-9p">
                                    Unlimited Users
                                </div>
                                <div class="column-1p">
                                    <span class="icon_check"></span>
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    Unlimited Styles
                                </div>
                                <div class="column-1p">
                                    <span class="icon_check"></span>
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    Advance Protection
                                </div>
                                <div class="column-1p">
                                    <span class="icon_check"></span>
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    Cloud Storage
                                </div>
                                <div class="column-1p">
                                    <span class="icon_check"></span>
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    24/7 Customer Service
                                </div>
                                <div class="column-1p">
                                    <span class="icon_check"></span>
                                </div>
                            </li>
                            <li>
                                <div class="column-9p">
                                    Backup Service
                                </div>
                                <div class="column-1p">
                                    <span class="icon_check"></span>
                                </div>
                            </li>
                        </ul>
                        <div class="bottom-row">
                            <div class="column-7p">
                                <h6>$99 Per Month</h6>
                            </div>
                            <div class="column-3p">
                                <div id="cta-3">
                                    <a href="#home" class="btn secondary-button">SIGN UP</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /END PACKAGE -->

        </div> <!-- /END ROW -->
    </div> <!-- /END ALL PACKAGE -->
    </div>

    <div class="spacer" style="margin-top: 60px;"></div>
    <div class="container">
        <div class="col-md-4">
            {% for post in site.posts limit:3 %}
            <div class="media">
                <div class="media-left">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="media-object">
                        <img src="{{ post.banner | prepend: site.baseurl }}" alt="" />
                    </a>
                </div>
                    <div class="media-body">
                        <a href="{{ post.categories }}" class="text-uppercase tag tag-{{ post.categories }}">
                            <span class="indicator"></span>{{ post.categories }}
                        </a>
                        <a href="{{ post.url | prepend: site.baseurl }}"><h5>{{ post.title }}</h5></a>
                        <!--<p>Posted {{ post.date | date: "%b %-d, %Y" }}</p>-->

                        <p class="media-excerpt">{{ post.excerpt }}</p>
                    </div>

                    <!--<a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-sm btn-default">Continue Reading <i class="fa fa-chevron-right"></i></a>-->


            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% for post in site.posts limit:2 %}
            <div class="media">
                <div class="media-left">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="media-object">
                        <img src="{{ post.banner | prepend: site.baseurl }}" alt="" />
                    </a>
                </div>
                <div class="media-body">
                    <a href="{{ post.categories }}" class="text-uppercase tag tag-{{ post.categories }}">
                        <span class="indicator"></span>{{ post.categories }}
                    </a>
                    <a href="{{ post.url | prepend: site.baseurl }}"><h5>{{ post.title }}</h5></a>
                    <!--<p>Posted {{ post.date | date: "%b %-d, %Y" }}</p>-->

                    <p class="media-excerpt">{{ post.excerpt }}</p>
                </div>

                <!--<a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-sm btn-default">Continue Reading <i class="fa fa-chevron-right"></i></a>-->


            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% for post in site.posts limit:2 %}
            <div class="media">
                <div class="media-left">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="media-object">
                        <img src="{{ post.banner | prepend: site.baseurl }}" alt="" />
                    </a>
                </div>
                <div class="media-body">
                    <a href="{{ post.categories }}" class="text-uppercase tag tag-{{ post.categories }}">
                        <span class="indicator"></span>{{ post.categories }}
                    </a>
                    <a href="{{ post.url | prepend: site.baseurl }}"><h5>{{ post.title }}</h5></a>
                    <!--<p>Posted {{ post.date | date: "%b %-d, %Y" }}</p>-->

                    <p class="media-excerpt">{{ post.excerpt }}</p>
                </div>

                <!--<a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-sm btn-default">Continue Reading <i class="fa fa-chevron-right"></i></a>-->


            </div>
            {% endfor %}
        </div>

    </div>



</div><!-- //.col-md-9 -->
