<!--<script id="footerScriptTag" src="//static.heart.org/ahaanywhere_dev/v2/js/aha-footer-external-responsive.js" data-site-contact="true"></script>-->

<script>
    var footer_info_Object = [
        {'header':{'content':'Password/Login Help'},
            'body':{'content':'(888) 242-2453 (Inside U.S.) or (214) 570-5935 (Outside U.S.)'}
        },
        {'header':{'content':'Membership & Subscription'},
            'body':{'content':'(800) 787-8984 (Inside U.S.) or (301) 223-2307 (Outside U.S.)'}
        },
        {'header':{'content':'Membership & Subscriptions FAQ&#39;s <i class="fa fa-chevron-right"></i>','link':'http://www.international.heart.org/en/contact-us'},
            'body':{'content':'Site Map <i class="fa fa-chevron-right"></i>','link': 'mailto:globalwebsupport@heart.org'}
        }
    ];
</script>

<script id="footerScriptTag" src="//static.heart.org/ahaanywhere/responsive/js/aha-footer-external-responsive.js" data-site-contact="true"></script>