<div id="header" role="banner">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <!-- Navigation =============== -->

        <nav id="main-navigation" class="navbar navbar-default" role="navigation">

          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a href="#" class="mobile-menu-show pull-right hidden-md hidden-lg"><i class="fa fa-navicon"></i></a>

              <a class="navbar-brand " href="index.html"><img src="{{site.baseurl}}/img/sample/mah_logo.png" class="sub-logo"></a>
            </div>

            <div class="navbar-collapse collapse nav-collapse">
              <ul class="nav navbar-nav navbar-right menu" >
                <li class="active" >

                  <a href="index.html">Communities
                    <span class="nav-line" > </span>
                  </a>
                </li>
                <li >
                  <a href="#">Statements & Guidelines
                    <span class="nav-line" > </span>
                  </a>
                </li>
                <li >

                  <a href="create.html">Meetings
                    <span class="nav-line" > </span>
                  </a>
                </li>
                <li >

                  <a href="requirements.html">Journals
                    <span class="nav-line" > </span>
                  </a>
                </li>
                <li >

                  <a href="faq.html">Professional Education
                    <span class="nav-line" > </span>
                  </a>
                </li>
                <li >

                  <a href="admin.html">Research & Grants
                    <span class="nav-line" > </span>
                  </a>
                </li>
                <li >

                  <a href="p_membership.html">Membership
                    <span class="nav-line" > </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </nav>


      </div>
    </div>


    <!-- Page tite -->
    <div class="row page-title">
      <!--<div class="col-md-3 hidden-xs"></div>-->
      <div class="col-md-12">
        <div class="page-header">

          <h1>{{page.title}}</h1>

        </div>
      </div><!-- //.page-header -->
    </div><!-- //.row -->
  </div>
</div>

