<div id="header" role="banner">


    <div class="row brand">
      <div class="container">
        <div class="col-xs-6 padding-0">
          <a class="navbar-brand " href="index.html"><img src="{{site.baseurl}}/img/sample/mah_logo.png" class="sub-logo"></a>
        </div>
        <div class="col-xs-6">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>


              <a href="#" class="mobile-menu-show pull-right hidden-md hidden-lg"><i class="fa fa-navicon"></i></a>

            </div>


            <ul class="avatar-wrapper nav navbar-nav navbar-right">
              <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="badge badge-success pull-right">3</span></a>-->
                <!--<ul class="dropdown-menu title-caret dropdown-lg" role="menu">-->
                  <!--<li><p class="drop-title">You have 3 pending tasks!</p></li>-->
                  <!--<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;"><li class="dropdown-menu-list slimscroll tasks" style="overflow: hidden; width: auto; height: 100%;">-->
                    <!--<ul class="list-unstyled">-->
                      <!--<li>-->
                        <!--<a href="#">-->
                          <!--<div class="task-icon badge badge-success"><i class="icon-user"></i></div>-->
                          <!--<span class="badge badge-roundless badge-default pull-right">1min ago</span>-->
                          <!--<p class="task-details">New user registered.</p>-->
                        <!--</a>-->
                      <!--</li>-->
                      <!--<li>-->
                        <!--<a href="#">-->
                          <!--<div class="task-icon badge badge-danger"><i class="icon-energy"></i></div>-->
                          <!--<span class="badge badge-roundless badge-default pull-right">24min ago</span>-->
                          <!--<p class="task-details">Database error.</p>-->
                        <!--</a>-->
                      <!--</li>-->
                      <!--<li>-->
                        <!--<a href="#">-->
                          <!--<div class="task-icon badge badge-info"><i class="icon-heart"></i></div>-->
                          <!--<span class="badge badge-roundless badge-default pull-right">1h ago</span>-->
                          <!--<p class="task-details">Reached 24k likes</p>-->
                        <!--</a>-->
                      <!--</li>-->
                    <!--</ul>-->
                  <!--</li><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.3; display: none; border-radius: 0px; z-index: 99; right: 0px; height: 138px; background: rgb(204, 204, 204);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; opacity: 0.2; z-index: 90; right: 0px; background: rgb(51, 51, 51);"></div></div>-->
                  <!--<li class="drop-all"><a href="#" class="text-center">All Tasks</a></li>-->
                <!--</ul>-->
              <!--</li>-->

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <div class="avatar-img pull-right"><i class="fa fa-angle-down"></i></div>
                  <span style="display: inline-block; float: right;">
                    <h4 class="user-name align-right">
                      Hello, Davidwithlongname!
                    </h4>
                      <span class="btn btn-xs btn-stroke pull-right">Hypertension</span>
                      <span class="btn btn-xs btn-stroke pull-right margin-right-10">Cardiology</span>

                  <!--<span class="user-name">Professional Plus</span>-->
                  </span>
                </a>

                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                  <div class="arrow top"></div>
                  <li class="dropdown-header">Some Title</li>
                  <li><a role="menuitem" tabindex="-1" href="q">Dropdown item one</a></li>
                  <li class="active"><a role="menuitem" tabindex="-1" href="q">Second item</a></li>
                  <li><a role="menuitem" tabindex="-1" href="q">Some third thing here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Another title</li>
                  <li class="disabled"><a role="menuitem" tabindex="-1" href="q">I'm a disabled link</a></li>
                  <li><a role="menuitem" tabindex="-1" href="q">Second item</a></li>
                </ul>

                <!--<ul class="dropdown-menu dropdown-list" role="menu">-->
                  <!--<li role="presentation"><a href="profile.html"><i class="fa fa-user"></i>Profile</a></li>-->
                  <!--<li role="presentation"><a href="calendar.html"><i class="fa fa-calendar"></i>Calendar</a></li>-->
                  <!--<li role="presentation"><a href="inbox.html"><i class="fa fa-envelope"></i>Inbox<span class="badge badge-success pull-right">4</span></a></li>-->
                  <!--<li role="presentation" class="divider"></li>-->
                  <!--<li role="presentation"><a href="lock-screen.html"><i class="fa fa-lock"></i>Lock screen</a></li>-->
                  <!--<li role="presentation"><a href="login.html"><i class="fa fa-sign-out m-r-xs"></i>Log out</a></li>-->
                <!--</ul>-->
              </li>

            </ul>
          </div>
      </div>
    </div>

  <!-- Navigation =============== -->
  <nav id="main-navigation" class="navbar navbar-default row hidden-sm" role="navigation">

    <div class="container">

      <div class="navbar-collapse collapse nav-collapse">
        <ul class="nav navbar-nav menu" >

          {% for nav in site.data.main-navigation.mainnavs %}

          <!--<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>-->
          {% assign url = page.url|remove:'/' %}
          {% if url == nav.link %}
            {% assign active = 'active' %}
          {% else %}
            {% assign active = '' %}
          {% endif %}
          <li class="{{active}}">

            <a href="{{ nav.link }}" class="{{ nav.class }}">{{ nav.name }}
              <span class="nav-line" > </span>
            </a>
          </li>

          {% endfor %}

        </ul>
      </div>
    </div>

  </nav>


    <!-- Page tite -->
    
   <div class="container">
     <div class="row page-title">
      <!--<div class="col-md-3 hidden-xs"></div>-->
      <div class="container">
        <div class="page-header">

          <h1>{{page.title}}</h1>
          <h4>{{page.categories}}</h4>

        </div> <!--page-hea-der-->
      </div><!-- //.col-md-12 -->
    </div><!-- //.row -->
   </div><!-- //.container -->

</div>

