<div id="header" role="banner">


    <div class="row brand">
      <div class="container">
        <div class="col-xs-6 padding-0">
          <a class="navbar-brand " href="index.html"><img src="{{site.baseurl}}/img/sample/mah_logo.png" class="sub-logo" alt="My American Heart for Professinals"></a>
        </div>
        <div class="col-xs-6">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>


              <a href="#" class="mobile-menu-show pull-right hidden-md hidden-lg"><i class="fa fa-navicon"></i></a>

            </div>


            <ul class="avatar-wrapper nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <div class="avatar-img pull-right"><i class="fa fa-angle-down"></i></div>
                  <span style="display: inline-block; float: right;">
                    <h4 class="user-name align-right">
                      Hello, Davidwithlongname!
                    </h4>
                      <span class="btn btn-xs btn-stroke pull-right">Hypertension</span>
                      <span class="btn btn-xs btn-stroke pull-right margin-right-10">Cardiology</span>

                  <!--<span class="user-name">Professional Plus</span>-->
                  </span>
                </a>

                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                  <div class="arrow top"></div>
                  <li class="dropdown-header">Some Title</li>
                  <li><a role="menuitem" tabindex="-1" href="q">Dropdown item one</a></li>
                  <li class="active"><a role="menuitem" tabindex="-1" href="q">Second item</a></li>
                  <li><a role="menuitem" tabindex="-1" href="q">Some third thing here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Another title</li>
                  <li class="disabled"><a role="menuitem" tabindex="-1" href="q">I'm a disabled link</a></li>
                  <li><a role="menuitem" tabindex="-1" href="q">Second item</a></li>
                </ul>

                <!--<ul class="dropdown-menu dropdown-list" role="menu">-->
                  <!--<li role="presentation"><a href="profile.html"><i class="fa fa-user"></i>Profile</a></li>-->
                  <!--<li role="presentation"><a href="calendar.html"><i class="fa fa-calendar"></i>Calendar</a></li>-->
                  <!--<li role="presentation"><a href="inbox.html"><i class="fa fa-envelope"></i>Inbox<span class="badge badge-success pull-right">4</span></a></li>-->
                  <!--<li role="presentation" class="divider"></li>-->
                  <!--<li role="presentation"><a href="lock-screen.html"><i class="fa fa-lock"></i>Lock screen</a></li>-->
                  <!--<li role="presentation"><a href="login.html"><i class="fa fa-sign-out m-r-xs"></i>Log out</a></li>-->
                <!--</ul>-->
              </li>

            </ul>
          </div>
      </div>
    </div>

  <!-- Navigation =============== -->
  <nav id="main-navigation" class="navbar navbar-default row hidden-sm hidden-xs" role="navigation">

    <div class="container">

      <div class="navbar-collapse collapse nav-collapse">
        <ul class="nav navbar-nav menu" >

          {% for nav in site.data.navigation %}

          <!--<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>-->
          {% assign url = page.url|remove:'/' %}
          {% if url == nav.link %}
            {% assign active = 'active' %}
          {% else %}
            {% assign active = '' %}
          {% endif %}
          <li class="{{active}}">

            <a href="{{ nav.link }}" class="{{ nav.class }}">{{ nav.name }}
              <span class="nav-line" > </span>
            </a>


          </li>

          {% endfor %}

        </ul>
      </div>
    </div>

  </nav>


    <!-- Page tite -->

  <!-- if your page has a page.title -->
  {% if page.hideTitle == false %}

   <div class="container-fluid page-title-wrapper">
     <div class="row page-title">
      <!--<div class="col-md-3 hidden-xs"></div>-->
      <div class="container">
        <div class="page-header">

          <h1>{{page.title}}</h1>
          <h4>{{page.tags}}</h4>
          <h4>{{page.categories}}</h4>

        </div> <!--page-hea-der-->
      </div><!-- //.col-md-12 -->
    </div><!-- //.row -->
   </div><!-- //.container -->
  {% endif %}


</div>

