<!-- Master Template -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="{{page.title}}" property="og:title" />
    <meta property=”og:type” content=”article”/>
    <!--<meta property=”og:image” content=”{{page.featureimage}}”/>-->
    <meta name=”og:description” content=”{{page.excerpt}}”>
    <meta name=”description” content=”{{page.excerpt}}”>
    <meta property=”og:url” content=”{{site.url}}{{page.baseurl}}{{page.url}}”/>

    <meta name=”twitter:card” content=”summary_large_image”>

    <link rel=”publisher” href=”https://plus.google.com/+AmericanHeart”/>

    <title>{{site.title}} - {{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">
    <!-- Dependencies -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="{{site.baseurl}}/css/flickity.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="{{site.baseurl}}/js/jquery-ui.min.js"></script>

    <link href="{{site.baseurl}}/css/core.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{site.baseurl}}/css/animate.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{site.baseurl}}/css/yamm.css" rel="stylesheet" type="text/css" media="all"/>


    <!-- HTML5 Polyfill for IE9 -->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
        <script src="{{site.baseurl}}/js/respond.min.js"></script>
    <![endif]-->
    <link href="{{site.baseurl}}/css/mah-theme.css" rel="stylesheet" type="text/css" media="all"/>


</head>