<!--<nav id="navbar-collapse-grid" class="yamm navbar-collapse collapse nav-collapse">-->

    <div class="navbar yamm navbar-default " role="navigation">
        <ul class="nav navbar-nav menu tier1">
            <li class="dropdown yamm-fw">
                <a href="/mah/communities.html" class="nav-1 dropdown-toggle js-activated" data-hover="dropdown" target="_self">Communities <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li class="">
                        <ul class="list-unstyled">
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Cellular Biology</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Drug Discovery</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Signaling</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Heart Failure and Cardiomyopathies</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Gerontology</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Acute Coronary Syndromes</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Intervention</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Surgery and Anesthesia</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Behavioral Medicine</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Cardiometabolic Health</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Epidemiology and Big Data</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Nutrition Science</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Prevention Health and Wellness</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Arteriosclerosis, Thrombosis, Vascular Biology (Basic)</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Dyslipidemia and Treatments</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">General Cardiology</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Vascular Health and Biology/Thrombosis (Clinical)</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Cardiac Development, Structure and Function</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Critical and Emergency Care</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Congenital Heart Disease and Pediatric Cardiology</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Electrophysiology and Arrhythmias</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Genetics and Genomics</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Hypertension and Nephrology</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Imaging and Nuclear Medicine</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Metabolism and Physiology</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Neuroscience and Stroke</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Quality of Care</a></li>
                            <li class="col-md-4"><a href="{{site.baseurl}}/communities.html">Women and Special Populations</a></li>
                        </ul>

                    </li>
                </ul>

            </li>
            <li class="">
                <a href="/mah/statement.html" class="nav-2 dropdown-toggle js-activated" data-hover="dropdown" target="_self">Guidelines &amp; Statements</a>
            </li>
            <li class="">
                <a href="/mah/journals.html" class="nav-3 dropdown-toggle js-activated" data-hover="dropdown" target="_self">Journals</a>
            </li>
            <li class="dropdown">
                <a href="/mah/meetings.html" class="nav-4 dropdown-toggle js-activated" data-hover="dropdown" target="_self">Meetings/Education <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="">
                        <ul class="list-unstyled">
                            <li><a href="{{site.baseurl}}/communities.html">Cellular Biology</a></li>
                            <li><a href="{{site.baseurl}}/communities.html">Drug Discovery</a></li>
                            <li><a href="{{site.baseurl}}/communities.html">Signaling</a></li>
                            <li><a href="{{site.baseurl}}/communities.html">Signaling</a></li>
                            <li><a href="{{site.baseurl}}/communities.html">Signaling</a></li>
                            <li><a href="{{site.baseurl}}/communities.html">Signaling</a></li>
                            <li><a href="{{site.baseurl}}/communities.html">Signaling</a></li>
                            <li><a href="{{site.baseurl}}/communities.html">Signaling</a></li>

                        </ul>

                    </li>
                </ul>
            </li>
            <li class="">
                <a href="/mah/membership.html" class="nav-5 dropdown-toggle js-activated" data-hover="dropdown" target="_self">Professional Membership</a>
            </li>
            <li class="">

                <a href="/mah/research.html" class="nav-6 dropdown-toggle js-activated" data-hover="dropdown" target="_self">Research Programs</a>
            </li>
        </ul>
    </div>


<!--<div id="navbar-collapse-grid" class="navbar-collapse collapse">-->
    <!--<ul class="nav navbar-nav">-->
        <!--&lt;!&ndash; Grid 12 Menu &ndash;&gt;-->
        <!--<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Grid<b class="caret"></b></a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li class="grid-demo">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-12">.col-sm-12</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-6">.col-sm-6</div>-->
                        <!--<div class="col-sm-6">.col-sm-6</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-4">.col-sm-4</div>-->
                        <!--<div class="col-sm-4">.col-sm-4</div>-->
                        <!--<div class="col-sm-4">.col-sm-4</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-3">.col-sm-3</div>-->
                        <!--<div class="col-sm-3">.col-sm-3</div>-->
                        <!--<div class="col-sm-3">.col-sm-3</div>-->
                        <!--<div class="col-sm-3">.col-sm-3</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-2">.col-sm-2</div>-->
                        <!--<div class="col-sm-2">.col-sm-2</div>-->
                        <!--<div class="col-sm-2">.col-sm-2</div>-->
                        <!--<div class="col-sm-2">.col-sm-2</div>-->
                        <!--<div class="col-sm-2">.col-sm-2</div>-->
                        <!--<div class="col-sm-2">.col-sm-2</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--&lt;!&ndash;With Offsets-->
        <!--&ndash;&gt;-->
        <!--<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Offset<b class="caret"></b></a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li class="grid-demo">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-4">4</div>-->
                        <!--<div class="col-sm-4 col-sm-offset-4">4 offset 4</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-3 col-sm-offset-3">3 offset 3</div>-->
                        <!--<div class="col-sm-3 col-sm-offset-3">3 offset 3</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-6 col-sm-offset-3">6 offset 6</div>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--&lt;!&ndash;Aside Menu-->
        <!--&ndash;&gt;-->
        <!--<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Aside<b class="caret"></b></a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li class="grid-demo">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-3"><br>-->
                            <!--<h3>3</h3><br>-->
                        <!--</div>-->
                        <!--<div class="col-sm-9"><br>-->
                            <!--<h3>9</h3><br>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--&lt;!&ndash;Nesting Menu-->
        <!--&ndash;&gt;-->
        <!--<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Nesting<b class="caret"></b></a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li class="grid-demo">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-12">12</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-12">12-->
                            <!--<div class="row">-->
                                <!--<div class="col-sm-4">4</div>-->
                                <!--<div class="col-sm-4">4</div>-->
                                <!--<div class="col-sm-4">4</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->