<!--<nav id="navbar-collapse-grid" class="yamm navbar-collapse collapse nav-collapse">-->

    <div class="navbar yamm navbar-default " role="navigation">

    <ul class="nav navbar-nav menu">
        <li class="dropdown yamm-fw">
            <a href="/mah/communities.html" class="nav-1 dropdown-toggle js-activated" data-hover="dropdown" target="_self">Communities <b class="caret"></b>
                <span class="nav-line"> </span>
            </a>
            <ul class="dropdown-menu">
                <li class="grid-demo">
                    <div class="row">
                        <div class="col-sm-12">.col-sm-12</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">.col-sm-6</div>
                        <div class="col-sm-6">.col-sm-6</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">.col-sm-4</div>
                        <div class="col-sm-4">.col-sm-4</div>
                        <div class="col-sm-4">.col-sm-4</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">.col-sm-3</div>
                        <div class="col-sm-3">.col-sm-3</div>
                        <div class="col-sm-3">.col-sm-3</div>
                        <div class="col-sm-3">.col-sm-3</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">.col-sm-2</div>
                        <div class="col-sm-2">.col-sm-2</div>
                        <div class="col-sm-2">.col-sm-2</div>
                        <div class="col-sm-2">.col-sm-2</div>
                        <div class="col-sm-2">.col-sm-2</div>
                        <div class="col-sm-2">.col-sm-2</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">.col-sm-1</div>
                        <div class="col-sm-1">.col-sm-1</div>
                        <div class="col-sm-1">.col-sm-1</div>
                        <div class="col-sm-1">.col-sm-1</div>
                        <div class="col-sm-1">.col-sm-1</div>
                        <div class="col-sm-1">.col-sm-1</div>
                        <div class="col-sm-1">.col-sm-1</div>
                        <div class="col-sm-1">.col-sm-1</div>
                        <div class="col-sm-1">.col-sm-1</div>
                        <div class="col-sm-1">.col-sm-1</div>
                        <div class="col-sm-1">.col-sm-1</div>
                        <div class="col-sm-1">.col-sm-1</div>
                    </div>
                </li>
            </ul>

        </li>
        <li class=" dropdown">

            <a href="/mah/statement.html" class="nav-2 dropdown-toggle js-activated" data-hover="dropdown" target="_self">Guidelines &amp; Statements <b class="caret"></b>
                <span class="nav-line"> </span>
            </a>
        </li>
        <li class=" dropdown">
            <a href="/mah/journals.html" class="nav-3 dropdown-toggle js-activated" data-hover="dropdown" target="_self">Journals <b class="caret"></b>
                <span class="nav-line"> </span>
            </a>
        </li>
        <li class=" dropdown">
            <a href="/mah/meetings.html" class="nav-4 dropdown-toggle js-activated" data-hover="dropdown" target="_self">Meetings/Education <b class="caret"></b>
                <span class="nav-line"> </span>
            </a>
        </li>
        <li class=" dropdown">
            <a href="/mah/membership.html" class="nav-5 dropdown-toggle js-activated" data-hover="dropdown" target="_self">Professional Membership <b class="caret"></b>
                <span class="nav-line"> </span>
            </a>
        </li>
        <li class=" dropdown">

            <a href="/mah/research.html" class="nav-6 dropdown-toggle js-activated" data-hover="dropdown" target="_self">Research Programs <b class="caret"></b>
                <span class="nav-line"> </span>
            </a>
        </li>
    </ul>
</div>


<!--<div id="navbar-collapse-grid" class="navbar-collapse collapse">-->
    <!--<ul class="nav navbar-nav">-->
        <!--&lt;!&ndash; Grid 12 Menu &ndash;&gt;-->
        <!--<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Grid<b class="caret"></b></a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li class="grid-demo">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-12">.col-sm-12</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-6">.col-sm-6</div>-->
                        <!--<div class="col-sm-6">.col-sm-6</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-4">.col-sm-4</div>-->
                        <!--<div class="col-sm-4">.col-sm-4</div>-->
                        <!--<div class="col-sm-4">.col-sm-4</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-3">.col-sm-3</div>-->
                        <!--<div class="col-sm-3">.col-sm-3</div>-->
                        <!--<div class="col-sm-3">.col-sm-3</div>-->
                        <!--<div class="col-sm-3">.col-sm-3</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-2">.col-sm-2</div>-->
                        <!--<div class="col-sm-2">.col-sm-2</div>-->
                        <!--<div class="col-sm-2">.col-sm-2</div>-->
                        <!--<div class="col-sm-2">.col-sm-2</div>-->
                        <!--<div class="col-sm-2">.col-sm-2</div>-->
                        <!--<div class="col-sm-2">.col-sm-2</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                        <!--<div class="col-sm-1">.col-sm-1</div>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--&lt;!&ndash;With Offsets-->
        <!--&ndash;&gt;-->
        <!--<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Offset<b class="caret"></b></a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li class="grid-demo">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-4">4</div>-->
                        <!--<div class="col-sm-4 col-sm-offset-4">4 offset 4</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-3 col-sm-offset-3">3 offset 3</div>-->
                        <!--<div class="col-sm-3 col-sm-offset-3">3 offset 3</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-6 col-sm-offset-3">6 offset 6</div>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--&lt;!&ndash;Aside Menu-->
        <!--&ndash;&gt;-->
        <!--<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Aside<b class="caret"></b></a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li class="grid-demo">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-3"><br>-->
                            <!--<h3>3</h3><br>-->
                        <!--</div>-->
                        <!--<div class="col-sm-9"><br>-->
                            <!--<h3>9</h3><br>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--&lt;!&ndash;Nesting Menu-->
        <!--&ndash;&gt;-->
        <!--<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Nesting<b class="caret"></b></a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li class="grid-demo">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-12">12</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-12">12-->
                            <!--<div class="row">-->
                                <!--<div class="col-sm-4">4</div>-->
                                <!--<div class="col-sm-4">4</div>-->
                                <!--<div class="col-sm-4">4</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->