<!-- Mobile Menu Wrapper ====================== -->
<div id="mobile-menu-wrap">
    <a href="#" class="mobile-menu-close pull-right"><i class="fa fa-close"></i></a>

    <!--Avatar-->
    <ul class="avatar-wrapper mobile nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <div class="avatar-img"><i class="fa fa-angle-down"></i></div>
                  <span style="display: inline-block;">
                    <h4 class="user-name">
                        Hello, Davidwithlongname!
                    </h4>
                      <span class="btn btn-xs btn-stroke pull-right">Hypertension</span>
                      <span class="btn btn-xs btn-stroke pull-right margin-right-10">Cardiology</span>

                  <!--<span class="user-name">Professional Plus</span>-->
                  </span>
            </a>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                <div class="arrow top"></div>
                <li class="dropdown-header">Some Title</li>
                <li><a role="menuitem" tabindex="-1" href="q">Dropdown item one</a></li>
                <li class="active"><a role="menuitem" tabindex="-1" href="q">Second item</a></li>
                <li><a role="menuitem" tabindex="-1" href="q">Some third thing here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Another title</li>
                <li class="disabled"><a role="menuitem" tabindex="-1" href="q">I'm a disabled link</a></li>
                <li><a role="menuitem" tabindex="-1" href="q">Second item</a></li>
            </ul>


        </li>

    </ul>

    <!-- Search -->
    <form method="get" class="mobile-search-form" action="">
        <input placeholder="Search" name="s" autocomplete="off" type="text">

    </form>

    <nav id="mobile-menu" class="clearfix">
        <div class="menu-ecc-navigation-mobile-container">

            <!-- Navigation created from main-navigation.json -->
            <div class="nav" id="">
                <!--<h5>Navigation</h5>-->
                <ul class="list-unstyled menu ">

                    {% for nav in site.data.main-navigation.mainnavs %}

                    <!--<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>-->
                    <li class="menu-item">
                        <a class="page-link dropdown-toggle" href="{{ nav.link }}">{{ nav.name }}</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>

                    {% endfor %}

                </ul>
            </div>
        </div>
    </nav>
</div><!-- //#mobile-menu-wrap -->
