<!-- Mobile Menu Wrapper ====================== -->
<div id="mobile-menu-wrap">
    <!-- Search -->
    <form method="get" class="mobile-search-form" action="">
        <input placeholder="Search" name="s" autocomplete="off" type="text">
        <a href="#" class="mobile-menu-close pull-right"><i class="fa fa-close"></i></a>
    </form>

    <nav id="mobile-menu" class="clearfix">
        <div class="menu-ecc-navigation-mobile-container">
            <!-- Navigation created from main-navigation.json -->
            <div class="nav" id="">
                <!--<h5>Navigation</h5>-->
                <ul class="list-unstyled menu ">

                    {% for nav in site.data.main-navigation.mainnavs %}

                    <!--<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>-->
                    <li class="menu-item">
                        <a class="page-link dropdown-toggle" href="{{ nav.link }}">{{ nav.name }}</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>

                    {% endfor %}

                </ul>
            </div>
        </div>
    </nav>
</div><!-- //#mobile-menu-wrap -->
