<!-- Sidebar -->
<!-- Testimonials -->

            <!--cols-->
            <div class="col-md-12">

                <h4 class="lead"><i class="ion-chatboxes"></i> What they're saying...</h4>
                <hr/>
                <div class="features-slider">
                    <div class="slides" id="featuresSlider">
                        <div class="cell">
                            <h4 class="text-primary media-heading">Being a Member</h4>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, deserunt earum eius facilis iure, labore laudantium odit quaerat quas rem repellat repellendus vitae voluptatibus! Dolores laborum optio quia quos totam."</p>

                        </div>
                        <div class="cell">
                            <h4 class="text-primary media-heading">The reason why I joined MAH Professionals...</h4>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus."</p>

                        </div>
                        <div class="cell">
                            <h4 class="text-primary media-heading">Made with Love</h4>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus."</p>

                        </div>
                    </div>
                </div>
            </div>

