<!-- using json data from _data/style-navigation.json -->
<div class="nav" id="" style="background-color: transparent;">
    <!--<h5>Style Guide</h5>-->
    <ul class="list-unstyled menu">

        {% for nav in site.data.style-navigation.nav %}
        <li class="menu-item">

            <a class="page-link" href="{{ nav.link }}"> {{ nav.name }} </a>
        </li>
        {% endfor %}



    </ul>
</div>

<div class="nav" id="" style="background-color: transparent;">
    <h5>Templates</h5>
    <ul class="list-unstyled menu">

        {% for mock in site.data.mocks.mocks %}
        <li class="menu-item">

            <a class="page-link" href="{{ mock.link }}"> {{ mock.name }} </a>
        </li>
        {% endfor %}



    </ul>
</div>