<div class="skip">
    <a tabindex="1" href="#main">Skip to Content</a>
</div>
<div id="top-header" class="utility-bar" role="banner">
    <div class="container">

        <div class="row">
            <div class="col-sm-10 col-xs-10 clearfix">
                <nav class="top-header-menu ahamenu">
                    <ul class="menu list-inline">
                        <li class="heart_logo"><a href="http://heart.org" class="aha_logo"><img src="http://static.heart.org/ahaanywhere_dev/v2/img/aha_logo_blk_80.png"></a></li>
                        <li class="hidden-xs">
                            <a href="#" class="header-button donate-button">
                                DONATE
                            </a>
                        </li>
                        <li class="hidden-xs">
                            <a href="#" class="header-button volunteer-button">
                                VOLUNTEER
                            </a>
                        </li>
                        <li>
                            <a href="#" class="header-button warning-button">
                                Warning Signs
                            </a>
                        </li>
                        <li class="menu-search parent hidden-sm hidden-xs">
                            <!-- AHA Search -->
                            <div class="input-group utility-search-wrapper">

                                <input class="form-control utility-search-input" name="q" id="q" autocomplete="off" placeholder="Search AHA/ASA" onkeyup="ss_handleKey(event)" type="text">
  <span class="input-group-addon utility-search-btn">
    <a href="#" class="" role="button"><i class="fa fa-search"></i></a>
  </span>


                            </div><!-- /input-group -->
                            <table style="visibility: hidden;" id="search_suggest" class="no-dataTable"></table>

                        </li>

                    </ul>
                </nav>
            </div>


            <!-- CLOSE .tb-left -->

            <div class="th-right col-sm-2 col-xs-2 clearfix">
                <nav class="std-menu top-header-menu">
                    <ul class="menu list-inline">
                        <li class="pull-right login">

                            <a href="/login">Login</a>


                        </li>
                    </ul>
                </nav>
            </div><!-- // .tb-right -->
        </div><!-- //.row -->
    </div><!-- //.container -->
</div>