/*===============================
=            General - Core            =
===============================*/
body {
    /*background-color: #252525;*/
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-font-size;
}

h1, h2, h3, h4, h5, .btn{
    /*font-weight: 400;*/
    /*font-style: normal;*/
    /*text-transform: uppercase;*/
}


a {
    outline: medium none !important;
    transition: all 0.2s ease-in-out 0s;
    text-decoration: none;
    /*color: #ed1b24;*/
    color: #BC0009;
}
a:active, a:link, a:visited {}

a:hover{
    text-decoration: none;
    color: #ed1b24;
}

.page-header {
    text-transform: uppercase;
    border: 0;
    margin: 0;
}