<!--Block_8_panel-->

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <article>
                    <a class="post post--preview-link" href="#">
                        <div class="row">
                            <div class="one-column col-xs-6 col-sm-5 col-md-7 col-lg-6">
                                <div class="image-container image-container--max image-container--fading">
                                    <img src="{{site.baseurl}}/img/sample/feature.jpg" alt="" class="img-responsive">
                                    <span class="image-container__info editContent text">jan 02<br> 2015</span>
                                </div>
                            </div><!-- end col -->
                            <div class="one-column col-xs-6 col-sm-7 col-md-5 col-lg-6">
                                <h3 class="post__heading editContent">Snapchat's Update Was Powered by Secret Acquisition</h3>
                                <p class="post__text editContent">Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est. </p>
                                <p class="post__author editContent">by Marti Queen</p>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </a>
                </article><!-- end article -->
            </div><!-- end col -->

            <div class="col-sm-12 col-md-6">
                <article>
                    <a class="post post--preview-link" href="#">
                        <div class="row">
                            <div class="one-column col-xs-6 col-sm-5 col-md-7 col-lg-6">
                                <div class="image-container image-container--max image-container--fading">
                                    <img src="{{site.baseurl}}/img/sample/feature.jpg" alt="" class="img-responsive">
                                    <span class="image-container__info editContent text">jan 01<br> 2015</span>
                                </div>
                            </div><!-- end col -->
                            <div class="one-column col-xs-6 col-sm-7 col-md-5 col-lg-6">
                                <h3 class="post__heading editContent">Samsung NX Mini Is the Perfect Camera for the Selfie-Obsessed</h3>
                                <p class="post__text editContent">Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est. </p>
                                <p class="post__author editContent">by Courtney Terry</p>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </a>
                </article><!-- end article -->
            </div><!-- end col -->

            <div class="col-sm-12 col-md-6">
                <article>
                    <a class="post post--preview-link post--right" href="#">
                        <div class="row">
                            <div class="one-column col-xs-6 col-sm-5 col-md-7 col-lg-6 col-sm-push-7 col-md-push-5 col-lg-push-6">
                                <div class="image-container image-container--max image-container--fading pull-right">
                                    <img src="{{site.baseurl}}/img/sample/feature.jpg" alt="" class="img-responsive">
                                    <span class="image-container__info editContent text">apr 30<br> 2015</span>
                                </div>
                            </div><!-- end col -->

                            <div class="one-column col-xs-6 col-sm-7 col-md-5 col-lg-6 col-sm-pull-5 col-md-pull-7 col-lg-pull-6">
                                <h3 class="post__heading editContent">Apple's LuxVue Acquisition Could Be the Biggest iWatch Hint Yet</h3>
                                <p class="post__text editContent">Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est. </p>
                                <p class="post__author editContent">by Andrea Ford</p>
                            </div><!-- end col -->

                        </div><!-- end row -->
                    </a>
                </article><!-- end article -->
            </div><!-- end col -->

            <div class="col-sm-12 col-md-6">
                <article>
                    <a class="post post--preview-link post--right" href="#">
                        <div class="row">
                            <div class="one-column col-xs-6 col-sm-5 col-md-7 col-lg-6 col-sm-push-7 col-md-push-5 col-lg-push-6">
                                <div class="image-container image-container--max image-container--fading pull-right">
                                    <img src="{{site.baseurl}}/img/sample/feature.jpg" alt="" class="img-responsive">
                                    <span class="image-container__info editContent text">apr 28<br> 2015</span>
                                </div>
                            </div><!-- end col -->

                            <div class="one-column col-xs-6 col-sm-7 col-md-5 col-lg-6 col-sm-pull-5 col-md-pull-7 col-lg-pull-6">
                                <h3 class="post__heading editContent">Apple's LuxVue Acquisition Could Be the Biggest iWatch Hint Yet</h3>
                                <p class="post__text editContent">Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est. </p>
                                <p class="post__author editContent">by Andrea Ford</p>
                            </div><!-- end col -->

                        </div><!-- end row -->
                    </a>
                </article><!-- end article -->
            </div><!-- end col -->
        </div>
    </div>
</div>

<div class="spacer"></div>