<div class="card">

    <div class="thumbnail">

        <div class="caption">
            <h5>Get Personalize Hypertension Content
            </h5>
            <p>
                Catheter ablation of persistent atrial fibrillation yields an unsatisfactorily high number of failures.
            </p>
            <p><a href="#" class="btn btn-primary" role="button">Sign Up For Free</a>
        </div>
    </div>
</div>

<div class="card box-content-wrap">

    <div class="thumbnail">

        <div class="caption">
            <h5>Get Personalize Hypertension Content
            </h5>
            <p>
                Catheter ablation of persistent atrial fibrillation yields an unsatisfactorily high number of failures.
            </p>
            <p><a href="#" class="btn btn-primary" role="button">Sign Up For Free</a>
        </div>
    </div>
</div>