<div class="spacer"></div>
<div class="card border-2 border-color-grey">

        <div class="caption">

            <p>
                Catheter ablation of persistent atrial fibrillation yields an unsatisfactorily high number of failures.
            </p>
            <h5>Sign up for eTOC and select Hypertension</h5>
            <p><a href="#" class="btn btn-primary" role="button">Sign Up</a>
        </div>

</div>

<div class="spacer"></div>

<div class="card border-0 bg-color-grey">

    <div class="caption">
        <h5>Get Personalize Hypertension Content
        </h5>
        <p>
            Catheter ablation of persistent atrial fibrillation yields an unsatisfactorily high number of failures.
        </p>
        <p><a href="#" class="btn btn-primary" role="button">Sign Up For Free</a>
    </div>

</div>