<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide carousel-555" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        <a href="#" class="item active">
            <img src="{{site.baseurl}}/img/sample/feature2.jpg" alt="Congenital Heart Disease in the Older Adult">
            <div class="carousel-caption">
                <h4>Congenital Heart Disease in the Older Adult</h4>
            </div>
        </a>

        <a href="#" class="item">
            <img src="{{site.baseurl}}/img/sample/AHA_SN_logo.png" alt="Science News">
            <div class="carousel-caption">
                <h4>Diagnosis Of Acute Rheumatic Fever In The Era Of Doppler Echocardiography</h4>
            </div>
        </a>

    <!--/.end carousel-inner -->
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!--//Carousel options-->
<script>
    $('.carousel-555').carousel({
        interval: 115000
    })

</script>