<select aria-invalid="false" tabindex="0" class="form-control" id="promoSourceCode" name="promoSourceCode" onchange="selectSourceCode();">
    <option value="All" selected="">Show All</option>
    <option value="A">Print Advertisement</option>
    <option value="D">Direct mail piece/brochure</option>
    <option value="H">Other</option>
    <option value="M">Flyer/application</option>
    <option value="R">Renewal Campaign</option>
    <option value="T">Telemarketing Campaign</option>
    <option value="W">E-mail/Web site</option>
</select>