<!-- Meetings -->
<div class="spacer"></div>
<div class="meetings">
    <div class="col-sm-12">
        <h4><span class="text-uppercase">Meetings</span>

        <!-- Single button -->

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Select a Meeting
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                    <div class="arrow top"></div>
                    <li class="dropdown-header">Some Title</li>
                    <li><a role="menuitem" tabindex="-1" href="#fakeLink">Dropdown item one</a></li>
                    <li class="active"><a role="menuitem" tabindex="-1" href="#fakeLink">Second item</a></li>
                    <li><a role="menuitem" tabindex="-1" href="#fakeLink">Some third thing here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Another title</li>
                    <li class="disabled"><a role="menuitem" tabindex="-1" href="#fakeLink">I'm a disabled link</a></li>
                    <li><a role="menuitem" tabindex="-1" href="#fakeLink">Second item</a></li>
                </ul>
            </div>

        </h4>
    </div>
    <div class="col-sm-6">
        <!--Big Thumb-->
        <img class="img-responsive img-full img-border" src="{{site.baseurl}}/img/sample/atvd.png" alt="title"/>
        <div class="tag tag-cardio"><span class="indicator"></span>Cardiology</div>
        <h5>ATVB <br> <span class="small"><strong>San Francisco, Calif.</strong> // May 7-9, 2015</span></h5>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-6"><img class="img-responsive img-full img-border meeting-thumbnail " src="{{site.baseurl}}/img/sample/atvd.png" alt="title"/></div>
        <div class="col-sm-6"><img class="img-responsive img-full img-border meeting-thumbnail" src="{{site.baseurl}}/img/sample/atvd.png" alt="title"/></div>
        <div class="col-sm-6"><img class="img-responsive img-full img-border meeting-thumbnail" src="{{site.baseurl}}/img/sample/atvd.png" alt="title"/></div>
        <div class="col-sm-6"><img class="img-responsive img-full img-border meeting-thumbnail" src="{{site.baseurl}}/img/sample/atvd.png" alt="title"/></div>
    </div>
</div>
<div class="spacer"></div>