<!-- Science News -->
<div class="news">
    <div class="col-sm-12">
        <h4><span class="text-uppercase">Science News</span>


        <!-- Single button -->

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Select a Council
                </button>

                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                    <div class="arrow top"></div>
                    <li class="dropdown-header">Some Title</li>
                    <li><a role="menuitem" tabindex="-1" href="#fakeLink">Dropdown item one</a></li>
                    <li class="active"><a role="menuitem" tabindex="-1" href="#fakeLink">Second item</a></li>
                    <li><a role="menuitem" tabindex="-1" href="#fakeLink">Some third thing here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Another title</li>
                    <li class="disabled"><a role="menuitem" tabindex="-1" href="#fakeLink">I'm a disabled link</a></li>
                    <li><a role="menuitem" tabindex="-1" href="#fakeLink">Second item</a></li>
                </ul>

            </div>

        </h4>
    </div>
    <div class="col-sm-6">
        <!--Big Thumb-->
        <img class="img-responsive img-full" src="{{site.baseurl}}/img/sample/news_feature.png" alt="title">
        <div class="tag tag-hyper"><span class="indicator"></span>Hypertension</div>
        <h4>Heart Failure New Drug</h4>
    </div>
    <div class="col-sm-6">
        {% include components/news-media-object.html %}
        {% include components/news-media-object.html %}
        {% include components/news-media-object.html %}
    </div>
</div>
<div class="spacer"></div>