<!-- Science News -->
<div class="science">
    <div class="col-sm-12">
        <h4 class="text-uppercase"><span>Science News</span>


        <!-- Single button -->

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Councils
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">All Councils</a></li>
                    <li><a href="#">Council 1</a></li>
                    <li><a href="#">Council 2</a></li>
                    <li><a href="#">Council 3</a></li>
                    <li><a href="#">Council 4</a></li>

                </ul>
            </div>

        </h4>
    </div>
    <div class="col-sm-6">
        <!--Big Thumb-->
        <img class="img-responsive img-full" src="{{site.baseurl}}/img/sample/news_feature.png" alt="title">
        <div class="tag tag-hyper"><span class="indicator"></span>Hypertension</div>
        <h4>Heart Failure New Drug</h4>
    </div>
    <div class="col-sm-6">
        {% include components/news-media-object.html %}
        {% include components/news-media-object.html %}
        {% include components/news-media-object.html %}
    </div>
</div>