<!-- Journals -->
<div class="science">
    <div class="col-sm-12">

            <h4><span class="text-uppercase" style="float: left; line-height: 30px;">Journals</span>

            <!--Search-->
            <span class="input-group journal-search-wrapper" style="width: 200px; padding-left: 20px">
                  <input class="form-control utility-search-input" name="q" id="q" autocomplete="off" placeholder="Search AHA/ASA" onkeyup="ss_handleKey(event)" type="text">
                  <span class="input-group-addon utility-search-btn">
                    <a href="#" class="" role="button"><i class="fa fa-search"></i></a>
                  </span>
            </span>
        </h4>
    </div>
    <div class="col-sm-6">
        {% include components/journal-media-object.html %}
    </div>
    <div class="col-sm-6">
        {% include components/journal-media-object.html %}
    </div>
    <div class="col-sm-6">
        {% include components/journal-media-object.html %}
    </div>
    <div class="col-sm-6">
        {% include components/journal-media-object.html %}
    </div>
    <div class="col-sm-6">
        {% include components/journal-media-object.html %}
    </div>
    <div class="col-sm-6">
        {% include components/journal-media-object.html %}
    </div>

</div>
