<!-- Meetings -->
<div class="spacer"></div>
<div class="meetings">
    <div class="col-sm-12">
        <h4><span class="text-uppercase margin-right-10">Meetings</span>

        <!-- Single button -->

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Select a Meeting
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                    <div class="arrow top"></div>

                    <li><a role="menuitem" tabindex="-1" href="#fakeLink">Scientific Sessions</a></li>
                    <li><a role="menuitem" tabindex="-1" href="#fakeLink">International Stroke Conference</a></li>
                    <li><a role="menuitem" tabindex="-1" href="#fakeLink">ATVB|PVD</a></li>
                    <li><a role="menuitem" tabindex="-1" href="#fakeLink">BCVS</a></li>
                    <li><a role="menuitem" tabindex="-1" href="#fakeLink">EPI|Lifestyle</a></li>
                    <li><a role="menuitem" tabindex="-1" href="#fakeLink">Hypertension</a></li>
                    <li><a role="menuitem" tabindex="-1" href="#fakeLink">QCOR</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Additional Meetings</li>
                    <li><a role="menuitem" tabindex="-1" href="#fakeLink">Webinar Series</a></li>
                    <li><a role="menuitem" tabindex="-1" href="#fakeLink">Hypertension Summer School</a></li>
                    <li><a role="menuitem" tabindex="-1" href="#fakeLink">EPI 10 Day</a></li>
                    <li><a role="menuitem" tabindex="-1" href="#fakeLink">IKDS 2015</a></li>
                    <li><a role="menuitem" tabindex="-1" href="#fakeLink">Emerging Science Series</a></li>

                </ul>
            </div>

        </h4>
        <div class="spacer"></div>
    </div>
    <div class="col-sm-6 feature-meeting-lg">
        <!--Big Thumb-->
        <div class="">
            <img class="img-responsive img-full img-border" src="{{site.baseurl}}/img/sample/c_atvb.png" alt="title" height="140"/>
            <!--<div class="tag tag-{{ post.categories }}"><span class="indicator"></span>Cardiology</div>-->
            <h5>ATVB<div class="small"><strong>San Francisco, Calif.</strong> // May 7-9, 2015</div></h5>
        </div>
    </div>
    <div class="spacer hidden-md"></div>
    <div class="col-sm-6 feature-meeting-sm">
        <div class="col-xs-6"><img class="img-responsive img-full img-border meeting-thumbnail " src="{{site.baseurl}}/img/sample/c_ss.png" alt="title" height="70"/></div>
        <div class="col-xs-6"><img class="img-responsive img-full img-border meeting-thumbnail" src="{{site.baseurl}}/img/sample/c_ress.png" alt="title" height="70"/></div>
        <div class="col-xs-6"><img class="img-responsive img-full img-border meeting-thumbnail" src="{{site.baseurl}}/img/sample/c_bcvs.png" alt="title" height="70"/></div>
        <div class="col-xs-6"><img class="img-responsive img-full img-border meeting-thumbnail" src="{{site.baseurl}}/img/sample/c_hyper.png" alt="title" height="70"/></div>
    </div>
</div>
<div class="spacer"></div>