<!-- Journals -->
<div class="science">

    <div class="col-sm-12">

        <h4><span class="text-uppercase" style="float: left; line-height: 30px;">Journals</span>

            <!--Search-->
            <span class="input-group journal-search-wrapper" style="width: 200px; padding-left: 20px">
                  <input class="form-control utility-search-input" name="q" id="q" autocomplete="off" placeholder="Search AHA/ASA" onkeyup="ss_handleKey(event)" type="text">
                  <span class="input-group-addon utility-search-btn">
                    <a href="#" class="" role="button"><i class="fa fa-search"></i></a>
                  </span>
            </span>
        </h4>
    </div>



    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        {% for post in site.categories.journals limit:3 %}

        <div class="media">
            <div class="media-left">
                <a href="{{ post.url | prepend: site.baseurl }}" class="media-object">
                    <img src="{{ post.banner | prepend: site.baseurl }}" alt="" width="80" />
                </a>
            </div>
            <div class="media-body">
                <!--<a href="{{ post.categories }}" class="text-uppercase tag tag-{{ post.categories }}">-->
                    <!--<span class="indicator"></span>{{ post.categories }}-->
                <!--</a>-->
                <a href="{{ post.url | prepend: site.baseurl }}"><h5>{{ post.title }}</h5></a>
                <!--<p>Posted {{ post.date | date: "%b %-d, %Y" }}</p>-->

                <p class="media-excerpt">{{ post.content }}</p>
            </div>

            <!--<a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-sm btn-default">Continue Reading <i class="fa fa-chevron-right"></i></a>-->


        </div>

        {% endfor %}

    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        {% for post in site.categories.journals limit:3 offset:3 %}

        <div class="media">
            <div class="media-left">
                <a href="{{ post.url | prepend: site.baseurl }}" class="media-object">
                    <img src="{{ post.banner | prepend: site.baseurl }}" alt="" width="80" />
                </a>
            </div>
            <div class="media-body">
                <!--<a href="{{ post.categories }}" class="text-uppercase tag tag-{{ post.categories }}">-->
                    <!--<span class="indicator"></span>{{ post.categories }}-->
                <!--</a>-->
                <a href="{{ post.url | prepend: site.baseurl }}"><h5>{{ post.title }}</h5></a>
                <!--<p>Posted {{ post.date | date: "%b %-d, %Y" }}</p>-->

                <p class="media-excerpt">{{ post.content }}</p>
            </div>

            <!--<a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-sm btn-default">Continue Reading <i class="fa fa-chevron-right"></i></a>-->


        </div>

        {% endfor %}

    </div>



</div>
