<!-- Meetings -->
<div class="meetings">
    <div class="col-sm-12">
        <h4 class="text-uppercase"><span>Meetings</span>

        <!-- Single button -->

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Select A Meeting
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">All Councils</a></li>
                    <li><a href="#">Meeting 1</a></li>
                    <li><a href="#">Meeting 2</a></li>
                    <li><a href="#">Meeting 3</a></li>
                    <li><a href="#">Meeting 4</a></li>
                </ul>
            </div>

        </h4>
    </div>
    <div class="col-sm-6">
        <!--Big Thumb-->
        <img class="img-responsive img-full img-border" src="{{site.baseurl}}/img/sample/atvd.png" alt="title"/>
        <div class="tag tag-cardio"><span class="indicator"></span>Cardiology</div>
        <h4>ATVB <br> <span class="small">San Francisco, Calif. // May 7-9, 2015</span></h4>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-6"><img class="img-responsive img-full img-border meeting-thumbnail " src="{{site.baseurl}}/img/sample/atvd.png" alt="title"/></div>
        <div class="col-sm-6"><img class="img-responsive img-full img-border meeting-thumbnail" src="{{site.baseurl}}/img/sample/atvd.png" alt="title"/></div>
        <div class="col-sm-6"><img class="img-responsive img-full img-border meeting-thumbnail" src="{{site.baseurl}}/img/sample/atvd.png" alt="title"/></div>
        <div class="col-sm-6"><img class="img-responsive img-full img-border meeting-thumbnail" src="{{site.baseurl}}/img/sample/atvd.png" alt="title"/></div>
    </div>
</div>
