<!-- Journals -->
<div class="science">
    <div class="col-sm-12">

            <h4 class="text-uppercase"><span>Journals</span>


            <!--Search-->
            <div class="input-group journal-search-wrapper" style="float:left;">

                <input class="form-control utility-search-input" name="q" id="q" autocomplete="off" placeholder="Search AHA/ASA" onkeyup="ss_handleKey(event)" type="text">
  <span class="input-group-addon utility-search-btn">
    <a href="#" class="" role="button"><i class="fa fa-search"></i></a>
  </span>



        </div>



        </h4>
    </div>
    <div class="col-sm-6">
        {% include components/journal-media-object.html %}
    </div>
    <div class="col-sm-6">
        {% include components/journal-media-object.html %}
    </div>
    <div class="col-sm-6">
        {% include components/journal-media-object.html %}
    </div>
    <div class="col-sm-6">
        {% include components/journal-media-object.html %}
    </div>
    <div class="col-sm-6">
        {% include components/journal-media-object.html %}
    </div>
    <div class="col-sm-6">
        {% include components/journal-media-object.html %}
    </div>

</div>