<div class="card border-2 border-color-grey padding-10">
    <h4><span class="text-uppercase">Featured Journal</span></h4>
    <div class="thumbnail">
        <img src="{{site.baseurl}}/img/sample/featureJournal.png" alt="..." class="img-responsive">
        <div class="caption">
            <h5>Sequential Hybrid Procedure for Persistent Atrial Fibrillation</h5>
            <p>
                Catheter ablation of persistent atrial fibrillation yields an unsatisfactorily high number of failures. The hybrid approach has recently emerged as a technique that overcomes the limitations of both surgical and catheter procedures alone.
            </p>
            <p><a href="#" class="btn btn-primary" role="button">Read More</a>
        </div>
    </div>
</div>
