<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object img-border" src="{{site.baseurl}}/img/sample/journal.png" alt="descript" width="80">

        </a>
    </div>
    <div class="media-body">
        <h5 class="media-heading">Circulation Research</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <button class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart" style="font-size: 20px; margin-right: 5px"></i> Free With Membership</button>
    </div>
</div>