<div class="media">
    <div class="media-left">
        <a href="#">
            <!--<img class="media-object" src="" alt="descript">-->
            <i class="fa fa-car media-object"></i>
        </a>
    </div>
    <div class="media-body">
        <h5 class="media-heading">Title</h5>
        <p class=""> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur explicabo laudantium maiores molestias nobis quae? Ad assumenda deleniti, dolore eligendi ipsa iusto laudantium magnam nostrum qui recusandae temporibus voluptates?</p>
    </div>
</div>