<div class="panel bg-color-lightgrey">
	<div class="panel-body">
	   <h4 class="heading media-heading">Quick Summary</h4>

		<div class="clearfix">
			<span><strong>Premium Professional Plus</strong></span>
			<span class="pull-right"><strong>$450</strong></span>
		</div>


		<div class="spacer spacer-10"></div>
		<ul class="list-unstyled">

			<li class="">
				<h6 class="media-heading border-1-bottom">Councils</h6>
				<ol class="list-unstyled">
					<li class="small">Arteriosclerosis, Thrombosis, and Vascular Biology</li>
					<li class="small">Basic Cardiovascular Sciences</li>

				</ol>
				<ol class="list-unstyled">
					<li class="small">Add-ons:</li>
					<li class="small">
						<div class="row spacer spacer-0">
							<span class="col-xs-10">+ Basic Cardiovascular Sciences</span> <span class="col-xs-2 padding-0">$65</span>
						</div>

					</li>
					<li class="small">
						<div class="clearfix row spacer spacer-0">
						<span class="col-xs-10">+ Int'l Arteriosclerosis, Thrombosis, and Vascular Biology</span> <span class="col-xs-2 padding-0">$3</span>
						</div>
					</li>


				</ol>
				<div class="spacer spacer-20"></div>
			</li>
			<li class="">
				<h6 class="media-heading border-1-bottom">Journals</h6>

				<ol class="list-unstyled">
					<li class="small">* All online 11 journals are included</li>
				</ol>
				<ol class="list-unstyled">
					<li class="small">Add-ons:</li>
					<li class="small">
						<div class="row spacer spacer-0">
							<span class="col-xs-10">+ Print - Arteriosclerosis, Thrombosis, and Vascular Biology</span> <span class="col-xs-2 padding-0">$225</span>
						</div>

					</li>
					<li class="small">
						<div class="clearfix row spacer spacer-0">
							<span class="col-xs-10">+ Print - Circulation: Arrhythmia and Electrophysiology</span> <span class="col-xs-2 padding-0">$225</span>
						</div>
					</li>


				</ol>
			</li>
		</ul>

		<!-- Alert Total -->
		<div class="alert alert-info">
			<div class="clearfix">
				<span><strong>Total</strong> </span><span class="pull-right"><strong>$510</strong></span>
			</div>
		</div><!-- /.alert -->
	</div><!-- /.panel-body -->
</div><!-- /.panel -->