<div class="panel bg-color-lightgrey">
	<div class="panel-body">
	   <h4 class="heading media-heading">Quick Summary</h4>

		<ul class="list-unstyled">
			<li class="">
				<strong>Premium Professional Plus</strong>
			</li>
			<li class="">
				<h6 class="media-heading border-1-bottom">Councils</h6>
				<ol class="list-unstyled">
					<li class="small border-1-bottom border-color-grey">Arteriosclerosis, Thrombosis, and Vascular Biology</li>
					<li class="small">Basic Cardiovascular Sciences</li>
					<li class="small">Cardiovascular Disease in the Young</li>
				</ol>
				<div class="spacer"></div>
			</li>
			<li class="">
				<h6 class="media-heading border-1-bottom">Journals</h6>

				<ol class="list-unstyled">
					<li class="small">All online journals are included</li>
					<li class="small">Arteriosclerosis, Thrombosis, and Vascular Biology</li>
					<li class="small">Circulation: Arrhythmia and Electrophysiology</li>

				</ol>
			</li>
		</ul>

		<!-- Alert Total -->
		<div class="alert alert-info">
			<div class="clearfix">
				<span><strong>Total</strong> </span><span class="pull-right"><strong>$510.00</strong></span>
			</div>
		</div><!-- /.alert -->
	</div><!-- /.panel-body -->
</div><!-- /.panel -->