<div class="panel bg-color-lightgrey">
	<div class="panel-body">

	   <h4 class="heading media-heading">Quick Summary </h4>
		<div class="clearfix">
			<span><strong>Premium Professional Plus</strong></span>
			<span class="pull-right"><strong>$450</strong></span>
		</div>


		<div class="spacer spacer-10"></div>
		<ul class="list-unstyled">

			<li class="">
				<h6 class="media-heading border-1-bottom">Councils</h6>
				<ol class="list-unstyled">
					<li class="small">1. Arteriosclerosis, Thrombosis, and Vascular Biology</li>
					<li class="small">2. Cardiovascular Radiology and Intervention</li>

				</ol>
				<ol class="list-unstyled">
					<li class="small"><strong>Add-ons:</strong></li>
					<li class="small">
						<div class="row spacer spacer-0">
							<span class="col-xs-10">+ Basic Cardiovascular Sciences</span> <span class="col-xs-2 padding-0">$65</span>
						</div>

					</li>
					<li class="small">
						<div class="clearfix row spacer spacer-0">
						<span class="col-xs-10">+ Int'l Arteriosclerosis, Thrombosis, and Vascular Biology</span> <span class="col-xs-2 padding-0">$3</span>
						</div>
					</li>


				</ol>
				<div class="spacer spacer-20"></div>
			</li>
			<li class="">
				<h6 class="media-heading border-1-bottom">Journals</h6>

				<ol class="list-unstyled">
					<li class="small">* All online 11 journals are included</li>
				</ol>
				<ol class="list-unstyled">
					<li class="small"><strong>Add-ons:</strong></li>
					<li class="small">
						<div class="row spacer spacer-0">
							<span class="col-xs-10">+ Print - Arteriosclerosis, Thrombosis, and Vascular Biology</span> <span class="col-xs-2 padding-0">$225</span>
						</div>

					</li>
					<li class="small">
						<div class="clearfix row spacer spacer-0">
							<span class="col-xs-10">+ Print - Circulation: Arrhythmia and Electrophysiology</span> <span class="col-xs-2 padding-0">$225</span>
						</div>
					</li>


				</ol>
			</li>
		</ul>

		<!-- Alert Total -->
		<div class="alert alert-info">
			<div class="clearfix">
				<span><strong>Total</strong> </span><span class="pull-right"><strong>$968</strong></span>
			</div>
		</div><!-- /.alert -->

		<a href="membership-form-summary.html" class="center-block text-right"><span class="text-muted ">View full summary <i class="fa fa-chevron-right"></i></span></a>

	</div><!-- /.panel-body -->
</div><!-- /.panel -->