<!-- Science News -->
<div class="widgetName">
    <div class="col-sm-12">
        <h4 class="text-uppercase">Science News</h4>
    </div>
    <div class="col-sm-6">
        <!--Big Thumb-->
        <img src="{{site.baseurl}}/img/sample/news_feature.png" alt="title"/>
        <div class="tag tag-hyper"><span class="indicator"></span>Hypertension</div>
        <h4>Heart Failure New Drug</h4>
    </div>
    <div class="col-sm-6">
        {% include components/news-media-object.html %}
        {% include components/news-media-object.html %}
        {% include components/news-media-object.html %}
    </div>
</div>