<div class="card card-sessions border-2 border-color-grey padding-10" style="background:url('{{site.baseurl}}/img/sample/sessions-bg.jpg') no-repeat scroll 0px 10px transparent;min-height:200px;background-size: cover;">
    <h2 style="color: white;margin-bottom: 0;">
        SESSIONS 2015
    </h2>
    <h4 style="color: white;font-weight: 200;letter-spacing: 1px;">
        November 7-11 <br/> Orlando, FL
    </h4>
    <p>

    </p>
    <br/><br/>
    <a href="#" class="btn btn-success btn-embossed">Registration</a>
    <br/><br/>
</div>