<!-- Steps Cards-->

<!--Commenting out BreadCrumb temporary-->
<!-- <div class="row">
    <div class="col-sm-12">
        <div class="col-sm-3">
            <a href="membership-form.html" class="membership-step-card panel {% if page.card == 'membership-form' %}active{% endif %} animated flipInY">
                <div class="panel-body text-center">
                    <h3 class="lead media-heading">
                        Create Profile
                        <br/>
                        <i class="ion-ios-person"></i>
                    </h3>

                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="membership-form-councils.html" class="membership-step-card panel {% if page.card == 'membership-form-councils' %}active{% endif %} animated flipInY delay-25s">
                <div class="panel-body text-center">
                    <h3 class="lead media-heading">
                        Select Councils

                        <br/><i class="ion-ios-people"></i>
                    </h3>

                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="membership-journal.html" class="membership-step-card panel {% if page.card == 'membership-journal' %}active{% endif %} animated flipInY delay-05s">
                <div class="panel-body text-center">
                    <h3 class="lead media-heading">

                        Select Journals

                        <br/><i class="ion-ios-paper"></i>
                    </h3>

                </div>
            </a>
        </div>

        <div class="col-sm-3">
            <a href="membership-form-summary.html" class="membership-step-card panel {% if page.card == 'membership-form-checkout' %}active{% endif %} animated flipInY delay-50s">
                <div class="panel-body text-center">
                    <h3 class="lead media-heading">

                        Summary

                        <br/><i class="ion-ios-paper"></i>
                    </h3>
                </div>
            </a>
        </div>

        <div class="col-sm-3">
            <a href="membership-form-checkout.html" class="membership-step-card {% if page.card == 'membership-form-checkout' %}active{% endif %} panel animated flipInY delay-75s">
                <div class="panel-body text-center">
                    <h3 class="lead media-heading">
                        Checkout
                        <br/><i class="ion-ios-cart"></i>
                    </h3>

                </div>
            </a>
        </div>


    </div>
</div>-->
