<!--cols-->

<h4 class="heading text-center"><i class="ion-chatboxes"></i> What Our Members Are Saying</h4>
<hr/>

    <div class="features-slider">
        <div class="slides" id="featuresSlider">
            <div class="cell">
                <div class="text-center">
                    <img src="{{site.baseurl}}/img/sample/thumbnail-testimonials.png" style="width: 70px; height: 70px;" class="img-circle">
                    <p class="lead text-center">
                        I love being a member of the MAH for Professionals. I get all the insights from my fellow specialists.
                    </p>
                        <h5>Dr. Hogan
                            <div class="text-primary small text-serif text-italic"> Member since 2012 <br/>Cardiology & Hypertension</div>
                        </h5>


                </div>

            </div>
            <div class="cell">
                <div class="text-center">
                    <img src="{{site.baseurl}}/img/sample/thumbnail-testimonials-02.png" style="width: 70px; height: 70px;" class="img-circle">
                    <p class="lead">
                        Being a member means being inform.
                    </p>
                    <h4 class="">Dr. Johnson
                        <div class="text-primary small text-serif text-italic"> Member since 1980 <br/>Cardiology & Hypertension</div>
                    </h4>

                </div>
            </div>
            <div class="cell">
                <div class="text-center">
                    <img src="{{site.baseurl}}/img/sample/thumbnail-testimonials-03.png" style="width: 70px; height: 70px;" class="img-circle">
                    <p class="lead">
                        I love my councils.
                    </p>
                    <h4 class="">Dr. Stewart
                        <div class="text-primary small text-serif text-italic"> Member since 2015 <br/>Professional Plus</div>
                    </h4>

                </div>
            </div>
        </div>
    </div>


