<!--cols-->
<div class="col-md-12">


    <div class="features-slider">
        <div class="slides" id="featuresSlider">
            <div class="cell">
                <div class="text-center">
                    <img src="img/sample/thumbnail-testimonials.png" style="width: 70px; height: 70px;" class="img-circle">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequuntur dolorem ea iure reiciendis sunt tempora vel. Accusamus deserunt in maiores natus nemo numquam quaerat repudiandae totam? Aperiam, modi, totam?
                    </p>
                    <h4 class="">- Dr. Truong
                        <div class="text-primary small" style="font-family: serif ;"> <em>Member since 2012 <br/>Cardiology,Hypertension</em></div>
                    </h4>

                </div>

            </div>
            <div class="cell">
                <div class="text-center">
                    <img src="img/sample/thumbnail-testimonials-02.png" style="width: 70px; height: 70px;" class="img-circle">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequuntur dolorem ea iure reiciendis sunt tempora vel. Accusamus deserunt in maiores natus nemo numquam quaerat repudiandae totam? Aperiam, modi, totam?
                    </p>
                    <h4 class="">- Dr. Johnson
                        <div class="text-primary small" style="font-family: serif ;"> <em>Member since 1980 <br/>Cardiology,Hypertension</em></div>
                    </h4>

                </div>
            </div>
            <div class="cell">
                <div class="text-center">
                    <img src="img/sample/thumbnail-testimonials-03.png" style="width: 70px; height: 70px;" class="img-circle">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequuntur dolorem ea iure reiciendis sunt tempora vel. Accusamus deserunt in maiores natus nemo numquam quaerat repudiandae totam? Aperiam, modi, totam?
                    </p>
                    <h4 class="">- Dr. Crook
                        <div class="text-primary small" style="font-family: serif ;"> <em>Member since 2015 <br/>Cardiology,Hypertension</em></div>
                    </h4>

                </div>
            </div>
        </div>
    </div>
</div>

