{% include head.html %}

    <body class="article">
    <!-- Mobile Menu Wrapper ====================== -->
    {% include mobile-menu.html %}
    {% include utility.html %}
        <div id="mainWrapper">

            {% include header.html %}

            <!-- Main content -->
            <div id="main">
                <!-- container-->
                <div class="container">
                    <div class="row has-left-sidebar inner-page-wrap ">

                        <div class="col-md-3">
                            {% include sidebar_membership_tiers.html %}
                        </div>
                        <div class="col-md-9">
                            {{ content }}
                        </div>

                    </div><!-- //.row -->
                </div><!-- //.container -->


                <!--/#main-->
            </div>

            {% include footer.html %}
            <!--/#mainWrapper-->
        </div>
    <!-- All js scripts -->
    {% include allscripts.html %}

    </body>

</html>
