{% include head.html %}

    <body class="article">
    <!-- Mobile Menu Wrapper ====================== -->
    {% include mobile-menu.html %}
    {% include utility.html %}
        <div id="mainWrapper">

            {% include header.html %}

            <!-- Main content -->
            <div id="main">
                <!-- container-->
                <div class="container">
                    <div class="row has-left-sidebar inner-page-wrap ">

                        <div class="col-md-3">
                            {% include sidebar_article.html %}
                        </div>
                        <div class="col-md-9">
                            {{ content }}
                            <hr/>
                            <div class="post-meta">
                                {% if post.tags %}
                                    <h4>{{post.tags}}</h4>
                                {% endif %}
                                {% if page.categories %}
                                    <a href="{{ page.categories }}" class="text-uppercase tag tag-{{ page.categories }}">
                                        <span class="indicator"></span>{{ page.categories }}
                                    </a>
                                {% endif %}

                                    <p class="pull-right">
                                        <!-- Twitter -->
                                        <a href="http://twitter.com/home?status={{page.title}} - {{page.url}}" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i></a>
                                        <!-- Facebook -->
                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{page.title}} - {{page.url}}" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i></a>
                                        <!-- Google+ -->
                                        <a href="https://plus.google.com/share?url={{page.title}} - {{page.url}}" title="Share on Google+" target="_blank" class="btn btn-google-plus"><i class="fa fa-google-plus"></i></a>
                                    </p>


                            </div>
                        </div>

                    </div><!-- //.row -->
                </div><!-- //.container -->

                <!--/#main-->
            </div>

            {% include footer.html %}
            <!--/#mainWrapper-->
        </div>
    <!-- All js scripts -->
    {% include allscripts.html %}


    </body>

</html>
