<!-- No sidebar, just main content region -->
<!-- 100%, full-width -->
{% include head.html %}

    <body {% if page.bodyClass %}class="{{page.bodyClass}}"{% endif %}>
    <!-- Mobile Menu Wrapper ====================== -->
    {% include mobile-menu.html %}
    {% include utility.html %}
        <div id="mainWrapper">
            {% include header.html %}
            <!-- Main content -->
            <div id="main">
                <!-- container -->
                {{ content }}
                <!--/#main-->
            </div>
            {% include footer.html %}
            <!--/#mainWrapper-->
        </div>

    <!-- All js scripts -->
    {% include allscripts.html %}

    </body>

</html>
