{% include head.html %}

    <body class="full-width no-title">
    <!-- Mobile Menu Wrapper ====================== -->
    {% include mobile-menu.html %}
    {% include utility.html %}
        <div id="mainWrapper">

            {% include header.html %}

            <!-- Main content -->
            <div id="main">
                <!-- container-->
                <div class="page type-page" role="main">
                {{ content }}
                </div>
                <!-- //.col-md-12 -->
                <!--/#main-->
            </div>

            {% include footer.html %}
            <!--/#mainWrapper-->
        </div>

    <!-- All js scripts -->
    {% include allscripts.html %}


    </body>

</html>
