{% include head.html %}
<body class="home">
<!-- Mobile Menu Wrapper ====================== -->
{% include mobile-menu.html %}
{% include utility.html %}
<div id="mainWrapper">
  {% include header.html %}

  <!-- Main content -->
  <!--Main is full page-->
  <div id="main">
  <!--Section-->
    <!--Hero-->
    <div class="container">
        <!--Carousel-->

        <div class="row">
            <div class="col-sm-12">
                {% include components/carousel.html %}
            </div>
        </div>
    </div>
  </div>

  <!--Section-->
    <!-- container-->
    <div class="container">
      <div class="row has-left-sidebar inner-page-wrap ">

        <!--sidebar include-->
        {% include sidebar.html %}

        {{ content }}


      </div><!-- //.row -->
    </div><!-- //.container -->


   <div class="wrapper" style="background-color: #f7f7f7;">
       <!--Section-->
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <h1 class="lead text-center text-uppercase ">
                      Start a Conversation or Join Other Communities
                  </h1>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-4">
                  {% include /components/media-object.html %}
              </div>
              <div class="col-sm-4">
                  {% include /components/media-object.html %}
              </div>
              <div class="col-sm-4">
                  {% include /components/media-object.html %}
              </div>
              <div class="col-sm-4">
                  {% include /components/media-object.html %}
              </div>
              <div class="col-sm-4">
                  {% include /components/media-object.html %}
              </div>
              <div class="col-sm-4">
                  {% include /components/media-object.html %}
              </div>
              <div class="col-sm-4">
                  {% include /components/media-object.html %}
              </div>
              <div class="col-sm-4">
                  {% include /components/media-object.html %}
              </div>
              <div class="col-sm-4">
                  {% include /components/media-object.html %}
              </div>


          </div>
      </div>
    </div>
      <!--End-->

      <!--Section-->
      <div class="wrapper" style="background-color: #fff;">
          <div class="container">

              <div class="row">
                    <div class="col-sm-12">
                        <h1 class="lead text-center text-uppercase ">
                            Our Sponsors
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium ad alias, animi aut blanditiis consectetur cum dolorum eaque error, est excepturi harum ipsa nam natus odio sint temporibus tenetur?
                        </p>
                    </div>
              </div>
          </div>
      </div>
      <!--End-->

      <!--Section-->
      <!--Subscribe Newsletter-->
      <!--<div class="wrapper" style="background-color: #f7f7f7;">-->
          <!--<div class="container">-->
              <!--<div class="row">-->
                    <!--<div class="col-sm-12 text-center">-->
                        <!--<h2 class="lead" >-->
                            <!--<span style="text-transform: uppercase;">Subscribe To Our Newsletter</span>-->
                            <!--<p class="small">Clinical Implications section emailed directly to you each month</p>-->
                        <!--</h2>-->
                        <!--&lt;!&ndash;Form&ndash;&gt;-->
                        <!--<form action="" method="post" role="form" class="form-inline">-->

                        <!-- -->
                        	<!--<div class="form-group">-->
                        		<!--<label for="fname"></label>-->
                        		<!--<input type="text" class="form-control input-md" name="fname" id="fname" placeholder="First Name">-->
                                <!--<label for="lname"></label>-->
                                <!--<input type="text" class="form-control" name="lname" id="lname" placeholder="Last Name">-->
                                <!--<label for="subscribe-email"></label>-->
                                <!--<input type="text" class="form-control" name="subscribe-email" id="subscribe-email" placeholder="E-mail Address">-->
                        	<!--</div>-->
                        <!-- -->
                        	<!-- -->
                        <!-- -->
                        	<!--<button type="submit" class="btn btn-primary btn-danger">Submit</button>-->
                        <!--</form>-->

                    <!--</div>-->
              <!--</div>-->
          <!--</div>-->
      <!--</div>-->

    <!--/#main-->
  </div>

      {% include footer.html %}
      <!--/#mainWrapper-->
    </div>
    <!-- All js scripts -->
    {% include allscripts.html %}
    </body>

</html>
