{% include head.html %}
<body class="home">
<!-- Mobile Menu Wrapper ====================== -->
{% include mobile-menu.html %}
{% include utility.html %}
<div id="mainWrapper">
  {% include header.html %}

  <!-- Main content -->
  <!--Main is full page-->
  <div id="main">
  <!--Section-->
    <!--Hero-->
    <div class="container">
        <!--Carousel-->

      <div class="row">
        <!--Big-->
        <a href="#" class="col-md-6 feature">
            {% assign hero = "feature.jpg" %}
            {% assign description = "Congenital Heart Disease in the Older Adult" %}
            {% include components/caption-image.html %}

        </a>
        <!--Quarters-->
        <div class="col-md-6">

          <a href="#" class="col-sm-6">
              {% assign hero = "woman.png" %}
              {% assign description = "Diagnosis Of Acute Rheumatic Fever In The Era Of Doppler Echocardiography" %}
              {% include components/caption-image.html %}
          </a>
          <a href="#" class="col-sm-6">
                {% assign hero = "c_bcvs.png" %}
                {% assign description = "Basic Cardiovascular Science Scientific Sessions" %}
                {% include components/caption-image.html %}
          </a>
          <a href="#" class="col-sm-6">
              {% assign hero = "webinar.png" %}
              {% assign description = "WEBINAR: Intracranial Atherosclerosis: Current Status" %}
              {% include components/caption-image.html %}
          </a>
          <a href="#" class="col-sm-6">
              {% assign hero = "blogBanner4.jpg" %}
              {% assign description = "CVGPS research aims to improve common blood pressure medication" %}
              {% include components/caption-image.html %}
          </a>
        </div>
      </div>
    </div>

  <!--Section-->
    <!-- container-->
    <div class="container">
      <div class="row has-left-sidebar inner-page-wrap ">

        <!--sidebar include-->
        {% include sidebar.html %}


        {{ content }}


      </div><!-- //.row -->
    </div><!-- //.container -->


      <!--Section-->

      <div class="container">
          <div class="row">
            <img class="img-full img-responsive" src="img/sample/ad_1400x200.png">
          </div>
      </div>

      <!--End-->

      <!--Section-->
      <!--Subscribe Newsletter-->
      <!--<div class="wrapper" style="background-color: #f7f7f7;">-->
          <!--<div class="container">-->
              <!--<div class="row">-->
                    <!--<div class="col-sm-12 text-center">-->
                        <!--<h2 class="lead" >-->
                            <!--<span style="text-transform: uppercase;">Subscribe To Our Emails</span>-->
                            <!--<p class="small">Clinical Implications section emailed directly to you each month</p>-->
                        <!--</h2>-->
                        <!--&lt;!&ndash;Form&ndash;&gt;-->
                        <!--<form action="" method="post" role="form" class="form-inline">-->


                        	<!--<div class="form-group">-->
                        		<!--<label for="fname"></label>-->
                        		<!--<input type="text" class="form-control input-md" name="fname" id="fname" placeholder="First Name">-->
                                <!--<label for="lname"></label>-->
                                <!--<input type="text" class="form-control" name="lname" id="lname" placeholder="Last Name">-->
                                <!--<label for="subscribe-email"></label>-->
                                <!--<input type="text" class="form-control" name="subscribe-email" id="subscribe-email" placeholder="E-mail Address">-->
                        	<!--</div>-->



                        	<!--<button type="submit" class="btn btn-deafult btn-sm">Submit</button>-->
                        <!--</form>-->




                    <!--</div>-->
              <!--</div>-->
          <!--</div>-->
      <!--</div>-->





    <!--/#main-->
  </div>

  {% include footer.html %}
  <!--/#mainWrapper-->
</div>


<!-- All js scripts -->
{% include allscripts.html %}
</body>

</html>
