{% include head.html %}
<body class="home">
<!-- Mobile Menu Wrapper ====================== -->
{% include mobile-menu.html %}
{% include utility.html %}
<div id="mainWrapper">
  {% include header.html %}

  <!-- Main content -->
  <!--Main is full page-->
  <div id="main">
  <!--Section-->
    <!--Hero-->
    <div class="container">
        <!--Carousel-->

      <div class="row">
        <!--Big-->
        <a href="#" class="col-md-6 feature">
            {% assign hero = "feature.jpg" %}
            {% assign description = "Congenital Heart Disease in the Older Adult" %}
            {% include components/caption-image.html %}

        </a>
        <!--Quarters-->
        <div class="col-md-6">

          <a href="#" class="col-sm-6">
              {% assign hero = "woman.png" %}
              {% assign description = "Diagnosis Of Acute Rheumatic Fever In The Era Of Doppler Echocardiography" %}
              {% include components/caption-image.html %}
          </a>
          <a href="#" class="col-sm-6">
                {% assign hero = "c_bcvs.png" %}
                {% assign description = "Basic Cardiovascular Science Scientific Sessions" %}
                {% include components/caption-image.html %}
          </a>
          <a href="#" class="col-sm-6">
              {% assign hero = "webinar.png" %}
              {% assign description = "WEBINAR: Intracranial Atherosclerosis: Current Status" %}
              {% include components/caption-image.html %}
          </a>
          <a href="#" class="col-sm-6">
              {% assign hero = "blogBanner4.jpg" %}
              {% assign description = "CVGPS research aims to improve common blood pressure medication" %}
              {% include components/caption-image.html %}
          </a>
        </div>
      </div>
    </div>

  <!--Section-->
    <!-- container-->
    <div class="container">
      <div class="row has-left-sidebar inner-page-wrap ">

        <!--sidebar include-->
        {% include sidebar.html %}


        {{ content }}


      </div><!-- //.row -->
    </div><!-- //.container -->


      <!--Section-->

      <div class="container">
          <div class="row">
            <img class="img-full img-responsive" src="img/sample/ad_1400x200.png">
          </div>
      </div>

      <!--End-->




    <!--/#main-->
  </div>

  {% include footer.html %}
  <!--/#mainWrapper-->
</div>


<!-- All js scripts -->
{% include allscripts.html %}
</body>

</html>
