{% include head.html %}

    <body class="">
    <!-- Mobile Menu Wrapper ====================== -->
    {% include mobile-menu.html %}
    {% include utility.html %}
        <div id="mainWrapper">

            {% include header.html %}

            <!-- Main content -->
            <div id="main">

                <!-- Jumbotron if have -->
                {% if page.jumbotron %}
                    {% include {{ page.jumbotron }} %}

                {% endif %}

                <!-- container-->
                <div class="container-fluid">
                    <div class="row inner-page-wrap ">

                        <div class="container">
                            <div class="col-md-12 col-sm-12 page type-page" role="main">
                            <!-- Content main content here -->

                            {{ content }}

                            </div>


                        </div>



                    </div><!-- //.row -->
                </div><!-- //.container -->


                <!--/#main-->
            </div>

            {% include footer.html %}
            <!--/#mainWrapper-->
        </div>
    <!-- All js scripts -->
    {% include allscripts.html %}
    </body>

</html>